* {
    box-sizing: border-box;
    }

html {
font-size: 16px;
font-family: 'Montserrat', sans-serif;
// font-family: Georgia, serif;
}

body {
background-color: $body-bg;
color: $text-main;
}

 /* TYPOGRAPHY */

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
color: $text-main;
margin: 0;
margin-bottom: 0.25em;
}


h1.headline{
  margin-bottom: initial;
  font-size: 1.65rem;
}

.headline--solo {
  margin: .25em 0 .5em;
}

.headline--alphabet {
  text-align: center;
}

.headline--eyebrow {
  margin: .25em 0;
  font-size: .75rem;
  font-weight: normal;
  color: $text-muted;
}

.headline--strapline {
  font-size: .8rem;
  color: $text-secondary;
  margin-bottom: 1em;
}

.headline--profile {
  font-size: 1.25rem;
  margin-top: .5em;
}

// .header--branding h1 {
//   margin: 0;
// }


#mob-logo--home {
  color: transparent !important;
  background: url("../img/bandz.svg") no-repeat 60% 0;
  background-size: contain;
  display: block;
  width: 100%;
}



main p {
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 0.25em;
}

img {
  width: 100%;
}
   

.alert {
  display: block;
  border-radius: 4px;
  padding: .5em;
  margin-bottom: 1em;
}

.alert-success {
  color: $alert-success-txt;
  background: $alert-success-bg;

}

.alert-warning {
  color: $alert-warning-txt;
  background: $alert-warning-bg;
}

.alert-danger {
  color: $alert-danger-txt;
  background: $alert-danger-bg;
}

.alert-info {
  color: $alert-info-txt;
  background: $alert-info-bg;
}

hr {
  height: 2px;
  color: $border-color;
  background: $border-color;
  border: 0;
  width: 60%;
}

.hr--left {
  margin: 0;
}

.hr--breadcrumbs {
  height: 1px;
  color: rgb(181, 181, 181);
  background: $footer-bg;
  margin: 0.5em 0;
}


.breadcrumbs--alphabet,
.breadcrumbs--alphabet a {
  color: $text-secondary;
}


li > ul > li {
  list-style-type: square;
}


ul.genre-tags {
  list-style: none;
  padding-left: 0;
  display: flex;
}


ul.genre-tags li:after {
  content: ', ';
  white-space: pre;
}

ul.genre-tags li:last-child:after {
  content: '' !important;
}

/* DL :: Definition Lists */

dl {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
}

dt {
  color: $text-secondary;
  font-size: 0.9rem;
}

dd {
  margin-left: 0;
}


dd.bold {
  font-weight: bolder; //550
}

dt.featured-img {
  position: absolute;
  top: -9999px;
  left: -999px;
}

dd.featured-img {
  order: -1;
}


/* Utility Classess */
.smaller {
  font-size: small;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.centered {
  text-align: center;
}

.centered--bold {
  text-align: center;
  font-weight: bold;
}

.bordered {
  border: solid 1px $border-color !important;
}

.muted {
  color: $text-muted;
}

.secondary {
  color: $text-secondary;
}

.mt-1 {
  margin-top: 1em;
}

.debug {
  border: 1px solid pink;
}


.colon-after:after  {
  content: ' : ';
  white-space: pre;
}

