

.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 0em;
    background: rgba($color: $body-bg, $alpha: 0.65);
    border: 1px solid $text-muted;
    padding: 1em;
}

.card a {
    text-decoration: none;
}

.card h2 a {
    color: $text-main;
    border-bottom: 2px dotted $text-muted;
}

.card-img {
    background-position: center;
    background-size: cover;
}

.card-img a {
    display: block;
    height: 300px;
    margin: 15px 30px;
}

.card-content {
    margin-top: 0.8em;
    width: 100%;
}

.card-content ul {
    margin-left: 0;
    padding-left: 1em;
}

.card-content li {
}

.card-footer {
   padding-top: 0.5em;
}


.card-footer ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    padding-left: 1em;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    padding-left: 0;
}

.card-footer li.edit {
    margin-left: auto;
}

.manage--bands {
    .card {
        margin-top: 1em;
        padding: 1em;
        flex-direction: row;
        @media(max-width: 375px) {
            flex-direction: column;    
        }
    }
    .card-img {
        width: 200px;
        height: 200px;
        @media(max-width: 375px) {
            margin: 0 auto;
            background-position: center top;
            background-size: cover;
        }
    }
    .card-content {
        margin-left: 2em;
        @media(max-width: 375px) {
            font-size: .8rem;
            margin-left: .5em;
        }
    }
    .card-content > ul {
        list-style: square;
        @media(max-width: 375px) {
            font-size: .8rem;
        }
        @media (min-width: 600px){
            min-height: 90px;
        }
    }
}    
