

.btn {
  box-shadow: none;
  border-radius: 3px;
}

.btn-subform{
  font-size: 0.95rem;
  line-height: 1.15em;
  padding: .25em .5em;
  width: auto;
  color: white;
  text-decoration: none;
  text-decoration: none;
  border: 1px solid $text-main;
  border-radius: 3px;
  box-shadow: none;
}


.header--mgt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add{
  background: $add-btn !important;
  color: $white !important;
}

#subforms-container-member + .add {
  margin-top: .5em;
}

.add:hover,
.add:focus {
  cursor: pointer;
  background-color: $add-btn-light !important;
}


.header--mgt .add {
  position: relative;
  top: -.25em;
}

.search .add {
  white-space: nowrap;
  letter-spacing: .15em;
  margin-left: 1em;
  @media (min-width: 600px){
    font-size: 1.25rem;
    
  }
}

.remove {
  font-size: 0.85rem; 
  white-space: nowrap;
  align-self: end;
  justify-self: end; 
  grid-column: 2;
  background: tomato !important;
  height: 2em;
}

.remove .btn-text {
  @media (max-width: 599px){
    display: none; 
  }
}

.cancel {
  background-color: $text-secondary !important;
}

.del-band {
  font-size: 0.65rem;
  position: relative;
  top: -0.25em;
  @media (min-width: 600px){
    font-size: 0.8rem;
  }
}

.del-band:hover,
.del-band:focus {
  cursor: pointer;
}

/* Bands by Location Leaderboard 
 * Ref Caler Edwards - MultiLevel Dropdown Menu Tutorial
 * https://www.youtube.com/watch?v=EalgZXjDR2Q
 */
.leaderboard {
  list-style: none;
  width: 100%;
  margin: 3em 0 7em;
}

.leaderboard ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

.leaderboard li {
  list-style: none;
  padding: .5em 1em;
  padding-left: 0;
  margin: .5em .75em;
}

.leaderboard input[type="checkbox"] {
  display: none;
}

.leaderboard-county li {
  padding-left: .75em;
}

.leaderboard-town li {
  margin-left: 2em;
  padding-left: .75em;
}

.leaderboard-town li::before {
  content: "\25B8";
  color: $steel-grey;
  font-weight: bold;
  display: inline-block;
  width: 2em; 
  margin-left: -1.75em;
}

.leaderboard-county, .leaderboard-town {
  display: none;
}

#connacht:checked ~ .leaderboard-county,
#ulster:checked ~ .leaderboard-county,
#leinster:checked ~ .leaderboard-county,
#munster:checked ~ .leaderboard-county {
  display: block;
}

.county:checked ~ .leaderboard-town{
  display: block;
}

.leaderboard input + .arrow {
  transform: rotate(-90deg);
  transition: 0.1s;
}

.leaderboard input:checked + .arrow {
  transform: rotate(0deg);
  transition: 0.1s;
}

.arrow {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  float: left;
  z-index: 0;
  margin-left: 1em; 
  margin-top: 0.2em;
  margin-right: 1.5em;
}

.leaderboard label {
  margin: 0;
}

.leaderboard label:hover {
  cursor: pointer;
  display: inline-block;
  z-index: 3;
  position: relative;
}

.leaderboard-town a {
  color: $text-secondary;
  text-decoration: none;
  border-bottom: 1px dotted $steel-grey;
}

.leaderboard-town a:hover,
.leaderboard-town a:focus {
  color: $text-main;
  border-bottom: 1px solid $steel-grey;
}



