


/*
.wrapper__alphabet {
  background-color: rgb(196, 196, 196);
  grid-column: 2 / -2;
}

.wrapper__alphabet--top {
  padding: 4px 4px 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: .75em;
}

.wrapper__alphabet--bottom {
  padding: 0 4px 4px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 0.75em;
} */

// .pages__pagelinks li:first-child {
//   margin-left: auto;


.pagelinks li:first-child {
  margin-left: auto;
}


.pagelinks--letters li:first-child {
  margin-left: 0;
}


.pagelinks li:first-child.prev-page {
  margin-left: 0;
  margin-right: auto;
  justify-self: flex-start;
}

.pagelinks  li.next-page {
  margin-left: auto;
  justify-self: flex-end;
}




.btn-subform{
  font-size: 0.95rem;
  width: auto;
  color: white;
  text-decoration: none;
  text-decoration: none;
  border-radius: 3px;
  border: none;
}


.header--mgt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add{
  background: mediumseagreen;
}

.remove {
  justify-self: end; 
  grid-column: 2;
  background: tomato;
}

.leaderboard {
list-style: none;
}

.leaderboard * {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.leaderboard input[type="checkbox"] {
  display: none;
}

.leaderboard-county li {
  padding-left: .75em;
}

.leaderboard-town li {
  padding-left: .5em;
}

.leaderboard-county, .leaderboard-town {
  display: none;
}

#connacht:checked ~ .leaderboard-county,
#ulster:checked ~ .leaderboard-county,
#leinster:checked ~ .leaderboard-county,
#munster:checked ~ .leaderboard-county {
  display: block;
}

.county:checked ~ .leaderboard-town{
  display: block;
}

