.sign-in-up,
.form-page,
.search,
.stage4,
.update-band {
    display: flex;
    flex-direction: column;
    background-color: $lns-bg;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 15px;
    margin-bottom: 2em;
    @media (min-width: 600px){
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

.form-page li {
    list-style: none;
    padding-left: 0;
}

.form-header {
    padding: .75em 1em;
    @media (min-width: 600px){
        grid-area: form__header;
    }
}

.form-footer input {
    margin-left: auto;
}

.sign-in-up .form-header {
    background-color: $text-main;
    @media (min-width: 600px){
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

.sign-in-up h3 {
    color: $white;
}

.form-body {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    @media (min-width: 600px){
        display: grid;
        grid-gap: .5em;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: max-content;
    }
    @media (min-width: 800px){
        font-size: 0.95rem;
        grid-gap: 2em;
    }
}

.sign-in-up .form-body {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    @media (min-width: 600px){
        display: flex;
        grid-gap: 0;
    }
}

.sign-in-up label,
.sign-in-up input {
    width: 100% ;
    margin-bottom: .5em;
}

.sign-in-up label:first-of-type {
    margin-top: 0.75em;
}


.remember {
    margin-left: 1em;
    flex-direction: row;
    align-items: center;
}

.remeber label,
.remember input {
    width: auto;
    display: inline-block;
    margin-right: 0;
}


.form-footer {
    display: flex;
    flex-direction: row;
    padding: 0.5em 1em;
    align-items: center;
    justify-content: end;
}

.form-footer input {
    width: auto;
    padding: .65em 1.25em;
    box-shadow: none;
    border: 1px solid $text-main;
}

.form-footer input[type='submit'] {
    margin-right: 0;
}

.forgot-password {
    order: -1;
    margin-left: auto;
}

.invalid-feedback {
    margin: 0;
    padding: .2em;
    background-color: $alert-danger-bg;
    color: $alert-danger-txt;
}

.invalid-feedback li {

}

#solo {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    @media (min-width: 600px){
        grid-column: 2 / span 4;
    }
}
#solo label:first-of-type {
    margin-right: 1em;
}

.form-body .field {
    padding: .2em .3em;
    width: 100%;
}

.form-body fieldset .field {
    padding: .2em 0;
}

.field .label-text{
    display: block;
    width: 100%;
}

select[id='hometown-origin_county'],
select[id='hometown-origin_town'],
input[id='band_name'],
input[id='strapline'],
input[id='description'],
#genres input[type='text'],
textarea[id='profile'],
input[id="featured_video"],
input[id^="contact_details"] {
    width: 100%;
}

input[id$='featured_image'],
input[id='contact_details-contact_numbers-phone'],
input[id='_phone'] {
    width: 85%;
}

#contact_details-contact_numbers-mobile,
#contact_details-contact_numbers-region {
    display: flex;
    padding: 0;
}

#contact_details-contact_numbers-mobile input,
#contact_details-contact_numbers-region input {
    width: auto;
}

#contact_details-contact_emails-email_address li,
#contact_details-contact_numbers-mobile li,
#contact_details-contact_numbers-region li,
.invalid-feedback li
{
    list-style: none;
}

#contact_details-contact_numbers-mobile li:not(:last-of-type),
#contact_details-contact_numbers-region li:not(:last-of-type){
    margin-right: 1em;
}


#genres ul:not(.invalid-feedback){
    margin: .5em;
    padding: 0;
    display: grid;
    font-size: .85rem;
    width: 100%;
    letter-spacing: .075em;
    grid-template-rows: repeat(6, minmax(1em, 1fr));
    grid-auto-flow: column dense;
    align-items: end;
    grid-gap: .5em .35em;
}

li#andor-any,
li#genres-all {
    grid-auto-flow: row;
}

li#andor-any { grid-column: 1 / -2; }
li#genres-all { grid-column: -1; }


#genres li:not(#andor-all):not(#andor-any):not(#genres-all) label {
    display: block;
    margin-top: -1.2em;
    margin-left: 1.5em;
}

textarea#profile,
fieldset textarea {
    resize: none;
    min-height: 16em;
 }


.search #search {
    grid-row: 1;
    grid-column: 1/-1;
    display: flex;
    margin-bottom: .5em;
    flex-wrap: wrap;
    justify-content: flex-end;
    @media (min-width: 600px){
        justify-content: space-between;
        align-items: center;
    }
    @media (min-width: 800px){
        justify-content: space-around;
    }
    @media (min-width: 900px){
        justify-content: center;
    }
}
.search #search input {
    width: 30ch;
    margin: .25em 0;    
    @media (min-width: 600px){
        font-size: 1.25rem;
    }
}

.search #genres {
    grid-row: 2;
    grid-column: 2/-2;
}

.search #genres #andor-any .bold {
    display: block;
    @media (min-width: 600px) {
        display: initial;
    }
}

.search #genres label[for="andor-1"],
.search #genres label[for="andor-0"] {
    white-space: nowrap;
}

.search #counties {
    grid-row: 3;
    grid-column: 1/-1;
    @media (min-width: 800px) {
        grid-column: 2/-2;
    }
}

.search .foota {
    grid-row: 4;
    grid-column: -2;
    @media (min-width:800px){
        grid-column: -3;
    }
}


#counties {
    margin: 1em 0;
    padding: 5px;
    display: grid;
    grid-gap: .5em;
    letter-spacing: .075em;
    @media (min-width: 600px){
        margin: 2em 0;
        grid-gap: 1em 1em;
        grid-template-columns: repeat(2, minmax(1em, 1fr));
    }
}

.province {
    grid-column: span 1;
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(130px, 250px) minmax(1em, 1fr);
    @media (min-width: 600px){
        grid-template-rows: 2em repeat(auto-fill, 1fr);
    }
}

.province ul {
    grid-column: 2;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.province li:first-of-type {
    font-size: 1.125rem;
    text-align: center;
    line-height: 2em;
    
}

.province .province-title {
    margin-right: 0.5em;
    color: $logo-green;
}

.province li {
    font-size: .85rem;
    list-style: none;
    display: block;
    grid-row: 2;
    grid-column: 2;
    width: minmax(100px, 200px);
    align-items: end;
    
}

.province li label,
.province li input {
    width: auto;
}

.province li input {
    margin-right: 0.5em;
}



#connacht { order: -3; }
#ulster   { order: -2; }
#munster  { order: -1; }
#leinster { order: 1;  }

@media (min-width: 600px){
    .field:not(.sign-in-up .form-body .field) {
        display: grid;
    }

    /* stage1 fields */
    label[for='band_name'] {
            display: grid;
            grid-row: 2;
            grid-column: 2 / span 4;
    }
    label[for="hometown-origin_county"] {
        grid-row-start: 3;
        grid-column: 2 / span 2;
    }
    label[for="hometown-origin_town"] {
        grid-row-start: 3;
        grid-column: 4 / span 2;
    }
    .stage1 input[type='submit'],
    .stage2 input[type='submit'] {
        grid-row-start: 4;
        grid-column: 5;
        justify-self: end;
    }
    /* stage2 fields */
    
    label[for='description'] {
        grid-row-start: 1;
        grid-column: 2 / span 4;
    }
    label[for='strapline'] {
        grid-row-start: 2;
        grid-column: 2 / span 4;
    }
    #genres {
        grid-row-start: 3;
        grid-column: 2/-2;
    }
    /* stage3 fields */
    label[for='profile'] {
        grid-row-start: 1;
        grid-column: 1 / span 4;
    }
    fieldset#band-image
    {
        margin-top: .5em;
        order: 2;
        grid-row-start: 1;
        grid-column: 5 / span 2;
    }

    fieldset.half {
        order: 1;
        grid-row-start: 2;
        grid-column: 1/-1;
    }

    #subforms-container-member {
        display: contents;
    }

    .subform {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-flow: column dense;
        grid-gap: 1em 2em;
    }

    .subform .label-text {
        width: 100%;
        display: block;
    }
    
    .subform > label[for$='musician'] {
        grid-column: 1 / span 2;
    }
    
    .subform > label[for$='instruments'] {
        grid-column: 3 / span 3;
    }

    
    .subform label input {
        width: 100%;
    }

    .subform .remove {
        grid-column: -2;
    }

    .subform + .subform {
        margin-top: .5em;
    }

    /* stage4 fields */
    label[for='featured_video']{
        grid-row: 1;
        grid-column: 1 / -1;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        border-bottom: 1px solid rgb(236, 236, 236);
    }
    label[for='featured_video'] .label-text {
        display: inline-block;
        margin-right: 1em;
        flex-basis: 150px;
        white-space: nowrap;
        // flex: 0 0 0;
        margin-bottom: 0.5em;
    }
    label[for='featured_video'] input {
        flex-basis: 450px;
    }
    label[for='featured_video'] ul.invalid-feedback{
        display: block;
        margin-left: calc(150px + 1.75em);
        flex-basis: 450px;
    }

    label[for='contact_details-contact_name'] {
        width: auto;
        grid-row: 2;
        grid-column: 1 / span 3;
    }
    label[for='contact_details-contact_title']
     {
        width: auto;
        grid-row: 2;
        grid-column: 4 / span 3;
    }
    label[for='contact_details-contact_emails-email_title'] {
        grid-row: 3;
        grid-column: 1/4;
    }
    label[for='contact_details-contact_emails-email_address']
     {
        grid-row: 3;
        grid-column: 4/7;
    }
    #contact_phone {
        grid-row: 4;
        grid-column: 2/-2;
    }
    #contact_phone .invalid-feedback {
        position: relative;
        grid-row: 5;
        grid-column: 3/-3;
    }

    /* update long form */
    .update-band {
        grid-gap: 0 2em;
        @media (max-width: 800px){
            fieldset,
            .field {
                padding: 6px;
            }
        }
    }
    .update-band-details{
        grid-row: 1 / span 3;
        grid-column: 1 / span 3;
    }
    .update-band-image {
        grid-row: 2 / span 2;
        grid-column: 4 /span 3;
    }
    .update-band-image input[id='media_assets-featured_image'] {
        padding-bottom: 0.75em;
        margin-bottom: 0.75em;
        border-bottom: 1px solid rgb(236, 236, 236);
    }
    .update-band-image input[id='media_assets-featured_video'] {
        width: 100%;
    }
    .update-band .update-booking-contact {
        grid-row: 1 / span 1;
        grid-column: 4 / span 3;
    }
    .update-band #genres {
        grid-row: 4 / span 1;
        grid-column: 2 / span 4;
    }
    .update-band .half {
        grid-row: 5 / span 1;
        grid-column: 1 / -1;
    }
    
}

@media (min-width: 800px){
     .update-band-details{
        grid-row: 1 / span 3;
        grid-column: 1 /span 4;
    }
    .update-band-image {
        grid-row: 2 / span 2;
        grid-column: 5 /span 2;
    }
    .update-band .update-booking-contact {
        grid-row: 1 / span 1;
        grid-column: 5 / span 2;
    }
}

@media (min-width: 900px){
    .update-band .half {
        grid-row: 4 / span 1;
        grid-column: 1 / span 4;
    }
    .update-band #genres {
        grid-row: 4 / span 1;
        grid-column: 5 / span 2;
    }
}


.line-break {
    width: 100%;
}


ul.unique-band-yes-no {
    display: block;
    line-height: initial;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    font-size: 0.8rem;
    margin-left: 0;
}

ul.unique-band-yes-no.no li,
ul.unique-band-yes-no.yes li {
    margin-left: 0;
    padding: .25em 0;
    color: $alert-success-txt;
    background: $alert-success-bg;
}

ul.unique-band-yes-no.no li {
    color: $alert-danger-txt;
    background: $alert-danger-bg;
}

