@mixin navlinks {
    margin: 0;
    padding: 0;
    display: grid;
    list-style: none;
}

@mixin flexrowlinks {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(0, 66, 48, 1);
    display: grid;
    grid-template-rows: auto 0 auto auto 1fr auto auto;
    grid-template-columns: minmax(1em,1fr) minmax(260px, 500px) minmax(1em,1.1fr);
    grid-template-areas: "gns gns gns"
                         "gns gns gns"
                         ". lns ."
                         ". flash ."
                         ". main ." //  ". sidebar ."
                         ". lnsb ."
                         "foot foot foot";
    @media (min-width: 600px){
      background-image:
      linear-gradient(175deg, rgba(121, 121, 121, 0.6) 36%, rgba(0, 66, 48, .65) 100%),
      url(../img/bg.jpg);
      background-size: cover;
      grid-template-rows: auto auto 1fr auto auto;
      grid-template-columns: minmax(2em, 1fr) repeat(6, 2fr) minmax(2em, 1fr);
      grid-template-areas: 
                          "gns gns gns gns gns gns gns gns"
                          ". lns lns lns lns lns lns ."
                          ". flash flash flash flash flash flash ."
                          ". main main main main main main ."
                          ". lnsb lnsb lnsb lnsb lnsb lnsb ."
                          "foot foot foot foot foot foot foot foot";      
      }
    @media (min-width: 800px) {
      grid-template-columns: repeat(8, 1fr);
    }
    min-height: 100vh;
}

.alert {
  grid-area: flash;
}

main {
    grid-column: main;
    @media (min-width: 600px){
    }
}


.band-detail {
  display: grid;
  grid-area: main;
  grid-template-columns: minmax(1em,1fr) auto minmax(1em,1fr);
  grid-template-areas: 
            '. main__header .'
            '. main__content .'
            ' .band__details .'
            '. contact__details .'
            '. main__footer .';
  @media (min-width: 600px){
        grid-template-rows: auto 1fr auto auto;
        grid-template-columns: minmax(1em,1fr) 8fr minmax(200px, 400px) minmax(1em,1fr);
        grid-template-areas: 
                      '. main__header main__header .'
                      '. main__content band__details .'
                      '. contact__details band__details .'
                      '. main__footer main__footer .';
        }
  background-color: $body-bg;
}

.user-settings {
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: minmax(1em,1fr) auto minmax(1em,1fr);
  grid-template-areas: 
            '. main__header .'
            ' .user__image .'
            '. user__details .'
            '. main__footer .';
  @media (min-width: 600px){
        grid-template-rows: auto 1fr auto;
        grid-template-columns: minmax(1em,1fr) 8fr minmax(200px, 400px) minmax(1em,1fr);
        grid-gap: 3em 2em;
        grid-template-areas: 
                      '. main__header main__header .'
                      '. user__details user__image .'
                      '. main__footer main__footer .';
        }
  background-color: $lns-bg;
}



.user-settings .media {
  grid-area: user__image;
}

@media (max-width: 599px){
  .user-settings .media .rounded-circle {
    border-radius: 0;
  }
}

.user-settings form {
  grid-area: user__details;
  background: transparent;
  padding: 0;
}


.user-settings form .btn-outline-info {
  font-size: 1.5rem;
  padding: .5em .75em;
  margin: 1em 1em 1.5em 0;
  color: $white;
  background-color: $text-main;
  border-color: $text-main;
  border-radius: 3px;
  align-self: center;
}

.user-settings .footer--main {
  background-color: $body-bg;
}

dl.details {
  grid-area: band__details;
  @media (min-width: 600px){
    margin-top: 0;
    margin-left: 3em;
  }
}

dl.enquiries {
  grid-area: contact__details;
}

.header--main {
  grid-area: main__header;
  margin-top: 1.65em;
}

.footer--main {
  grid-area: main__footer;
}


.content-block {
  grid-area: main__content;
}

#closest-letters {
  margin: 2em auto;
  width: 80%;
  text-align: center;
  padding: 5em;
}

.content-block--cards {
  display: grid;
  grid-gap: 1.5em 1em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.sign-in-up {
  @media (min-width: 600px){
      margin: 0 auto;
      max-width: 400px;
  }
}

.floating-info {
  background: $body-bg;
  border-radius: 4px;
  margin: 1em auto;
  padding: .5em 1.25em;
  width: max-content;
  height: max-content;
}


.full-page{
  background-color: $body-bg;
  @media (min-width: 600px){
    background-color: rgba(255, 254, 241, 0.8);
  }
}

.genres-listing {
  grid-area: main/lnsb;
  display: flex;
  flex-direction: column;
  @media (min-width: 1199px){
    margin: auto;
    min-width: 660px;
    min-height: 450px;
  }
}

.genres-listing ul {
  margin: auto auto auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  
}

.genres-listing li {
  list-style: square;
}

.genres-listing ul:last-child {
  margin-bottom: 3em;
}

.genres-listing .spacer {
  margin-top: auto;
}

.wide p{
  margin: 1em 0.25em;
  letter-spacing: 0.25em;
}

.wide .btn,
.wide .btn:hover {
  font-weight: 700;
}
.wide .btn:hover {
  font-weight: 700;
  color:darkgreen;
}

.lns--bottom {
  grid-area: lnsb;
}



#del-modal {
    display: none;
    position:fixed; 
    top: calc(50% - 100px); // half of height
    left: calc(48% - 150px); // half of width
    width: 320px;
    z-index: 1000;
    background: white;
    border: 6px double red;
    padding: .8em .8em 1em;
    line-height: 1.5em;
}

#del-modal h4 {
    color: $alert-danger-txt;
    text-align: center;
}


.modal-controls {
    margin-top: .5em;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  


/** Fluid Video Wrapper
* ref: https://css-tricks.com/fluid-width-video/
*/
#video-wrapper {
    position: relative;
    /* falls back to 16/9, but otherwise uses ratio from HTML */
    // padding-bottom: calc(var(--aspect-ratio, .5625) * 100%); if declared in html
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }

#video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }



.centerize-card {
  grid-column: 1/-1;
  justify-self: center;
}

.centerize-card .card-img{
  @media (min-width: 600px){
  width: 400px;
  }
}

.no-lnsb {
  grid-area: main;
  max-height: 100%;
  @media (min-width: 600px){
    margin-top: 3em;
    padding: 0;
  }
}

.no-results {
  display: flex;
  align-items: center;
  padding: 3em;
  grid-area: main;
  min-height: 50vh;
  background-color: $body-bg;
  @media (max-width: 599px) {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.spacer-3em-lnsb {
  grid-area: lnsb;
  display: block;
  min-height: 40px;
  @media (min-width: 600px){
    min-height: 120px;
  }
}