#mtoggle {
  display: none;
  margin: 0;
}

.mobile-nav li,
.mobile-nav li ul,
.mobile-nav li li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-nav li a {
  text-decoration: none;
  display: block;
  color: $text-muted;
}

.mobile-nav li a:focus,
.mobile-nav li a:hover {
  color: white;
}

  @media only screen and (max-width: 599px){


  label[for="mtoggle"] {
    color: white;
    width: 26px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-right: 2%;
    line-height: 55px;
    font-size: 35px;
    cursor: pointer;
  }
  
  

  .mobile-nav {
    display: none;
  }


  .mobile-nav li a {
    text-decoration: none;
    display: block;
    color: $text-muted;
    margin: 0;
    padding: 0 .65em;
    width: 100%;
    font-size: 1.5rem;
    line-height: 2.25em;
    border-bottom: 1px solid rgb(86, 128, 86);
  }

  .mobile-nav > li:last-child > a {
    border-bottom: 1px solid transparent;
  }

  .mobile-nav li.subNav li {
    list-style: inherit;
    margin: 0;
    padding: 0;
    background: rgb(0, 92, 28);
  }

  .mobile-nav li.subnav li a {
    padding: 0 2em;
  }



  #mtoggle:checked + .nav-wrapper .mobile-nav {
    display: block;
    // background-color: red;

  }

}

