$primary-color: #e4d93d;
$primary-color-light1: lighten($primary-color, 10%);
$primary-color-light2: lighten($primary-color, 20%);
$mustard: #3dc104;
$mustard-light: lighten($mustard, 25%);
$mustard-dark: darken($mustard, 25%);
$logo-green: rgb(34, 90, 2);
$red-brick: firebrick;
$remove-red: rgb(221, 65, 44);
$body-bg: #f3f0c9;
$lns-bg: rgb(212, 212, 212);

$letter-selected-lowres: rgb(236, 230, 160); 
$gold: rgb(231, 200, 20);

$accent: rgb(14, 219, 7);

$text-main: #3a3a3a;
$text-muted: #a0a0a0;
$text-secondary: #6a6a6a;

$border-color: rgb(91, 221, 65);

$alert-warning-txt: #eb8459;
$alert-warning-bg: #fffceb;
$alert-success-txt: #467b25;
$alert-success-bg: #e0fab0;
$alert-info-txt: #4072a5;
$alert-info-bg: #ecf7fd;
$alert-danger-txt: #e45d3d;
$alert-danger-bg: #fff1f0;


@mixin navbar-gradient{
background-color :rgb(0, 66, 48);

} 
    

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}