{% extends "base.html" %}
{% block content %}
<h1>{{ title }}</h1>
<div class="container">
<div class="content-block" id="datab" data-genrelist="{{ genrelist | safe }}" >
    <form method="POST" enctype="multipart/form-data" ><!-- allow file upload -->
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ form_legend }}</legend>
            <img class="band-img" src="{{ image_file }}">
            {{ form.band_name.label(class="float-right") }}
                {% if form.band_name.errors %}
                    {{ form.band_name(class="is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.band_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.band_name }}
                {% endif %}
            {{ form.description.label(class="float-right")  }}
                {% if form.description.errors %}
                    {{ form.description(class="is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.description }}
                {% endif %}
            {{ form.strapline.label(class="float-right") }}
                {% if form.strapline.errors %}
                    {{ form.strapline(class="is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.strapline.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.strapline }}
                {% endif %}
   {#          {{ form.picture.label }}
                {% if form.picture.errors %}
                    {{ form.picture }}
                    <div class="invalid-file">
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span><br>
                    {% endfor %}
                    </div>
                {% else %}
                    {{ form.picture }}
                {% endif %} #}
            {{ form.genres.label(class="push-down") }}
                {% if form.genres.errors %}
                    {{ form.genres(class="is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.genres.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.genres(class="push-down") }}
                {% endif %}

            {{ form.hometown.origin_county.label }}
                {{ form.hometown.origin_county }}
            {{ form.hometown.origin_town.label }}
                {{ form.hometown.origin_town }}

            {{ form.profile.label }}
                {% if form.profile.errors %}
                    {{ form.profile(class="is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.profile.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.profile }}
                {% endif %}

            <fieldset data-inx="members">
                <div id="subforms-container-member">
                    {% for subform in form.members %}
                        <div id="member-{{ loop.index0 }}-form" class="subform" data-index="{{ loop.index0 }}">
                            {{ subform.instruments.label(class="instrument-label") }}
                            {{ subform.instruments(class="instrument-input") }}

                            {{ subform.musician.label(class="band-member-label") }}
                            {{ subform.musician(class="band-member-input") }}

                            <a class="remove btn-subform" href="#">Remove</a>

                        </div>
                    {% endfor %}
                </div>
                <button type="button" class="add btn-subform" href="#">Add Band Member</button>
                <!-- /subform -->
            </fieldset>
            {{ form.contact_details.contact_name.label }}
                {% if form.contact_details.contact_name.errors %}
                    {{ form.contact_details.contact_name(class="is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.contact_details.contact_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.contact_details.contact_name }}
                  {% endif %}
            {{ form.contact_details.contact_title.label }}
                {% if form.contact_details.contact_title.errors %}
                    {{ form.contact_details.contact_title(class="is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.contact_details.contact_title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.contact_details.contact_title }}
                  {% endif %}
            {{ form.contact_details.contact_generic_title.label }}
                {% if form.contact_details.contact_generic_title.errors %}
                    {{ form.contact_details.contact_generic_title(class="is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.contact_details.contact_generic_title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.contact_details.contact_generic_title }}
                  {% endif %}

                                           <fieldset data-inx="emails">
                <div id="subforms-container-email">
                        {% for subform in band.contact_details.contact_emails or form.contact_details.contact_emails %}
                        <div id="email-{{ loop.index0 }}-form" class="subform" data-index="{{ loop.index0 }}">
                            <label class="instrument-label" for="contact_details-contact_emails-{{ loop.index0 }}-email_title">Email Title</label>
                            <input class="instrument-input" name="contact_details-contact_emails-{{ loop.index0 }}-email_title" value="{{ band.contact_details.contact_emails[loop.index0]['email_title'] if band else '' }}" />
                            <label class="band-member-label" for="contact_details-contact_emails-{{ loop.index0 }}-email_address">Email Address</label>
                            {% if form.contact_details.contact_emails[loop.index0].email_address.errors %}
                            <input class="band-member-input" name="contact_details-contact_emails-{{ loop.index0 }}-email_address" value="{{ band.contact_details.contact_emails[loop.index0]['email_address'] if band else '' }}" /> 
                                <div class="invalid-feedback">
                                    {% for error in form.contact_details.contact_emails[loop.index0].email_address.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                            <input class="band-member-input" name="contact_details-contact_emails-{{ loop.index0 }}-email_address" value="{{ band.contact_details.contact_emails[loop.index0]['email_address'] if band else '' }}" /> 
                            {% endif %}
                            <a class="remove btn-subform" href="#">Remove</a>
                       </div>
                        {% endfor %}
                </div>
                <button type="button" class="add btn-subform" href="#">Add Contact Email</button>
                <!-- /subform -->
            </fieldset>
            
            <fieldset data-inx="numbers">
                <div id="subforms-container-number">
                    {% for subform in form.contact_details.contact_numbers %}
                        <div id="number-{{ loop.index0 }}-form" class="subform numbers" data-index="{{ loop.index0 }}">
                            {% for subfield in subform.mobile %}
                                {{ subfield.label(class="number-label") }} {{ subfield(class="number-radio") }}
                            {% endfor %}
                            {# {{ subform.number.label() }} #}
                            {{ subform.number() }}

                            <a class="remove btn-subform" href="#">Remove</a>

                        </div>
                    {% endfor %}
                </div>
                <button type="button" class="add btn-subform" href="#">Add Contact Number</button>
                <!-- /subform -->
            </fieldset>

            {{ form.enquiries_url.label }}
                {% if form.enquiries_url.errors %}
                    {{ form.enquiries_url(class="is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.enquiries_url.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.enquiries_url }}
                  {% endif %}

        <!-- /form -->
        </fieldset>
        {{ form.submit(class="btn btn-outline-info") }}
    </form>
     {% if form.errors %}
            {{ form.errors }}
        {% endif %}
    {% if data is defined %}
            <p>Received data: {{ data }}</p>
        {% endif %}
</div>
</div>

    {% assets "org_band_js" %}
    <script src="{{ ASSET_URL }}" ></script>
    {% endassets %}
    <script>
    choiceSelect("select.origin-county", "{{ selected_county }}")

    loadTowns( "{{ selected_county }}" )
    .then(data => document.querySelector("select.origin-town").innerHTML = data)
    .then( () => ("{{ selected_town }}" == "none")? true : choiceSelect("select.origin-town", "{{ selected_town }}"))
    
    //ANTRIM_TOWNS = loadTowns("Antrim")
    </script>

{% endblock content %}