{# templates/show.html #}
<html>
    <head>
        <title>Band Contact details</title>
    </head>
    <body>
        <a href="{{ url_for('bands.add_band') }}">Back to index</a>

        {% if not race %}
            <p>Could not find race details</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Contact</th>
                        <th>Telephone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lap in race.laps %}
                        <tr>
                            <td>{{ lap.runner }}</td>
                            <td>{{ lap.lap_time }}</td>
                        </tr>
                    {% endfor%}
                </tbody>
            </table>
        {% endif %}
    </body>
</html>