{% extends "base.html" %}
{% block content %}
{% for band in bands %}
<hr>
<div class="card">
    {# {% if band.image_file %}
        <img class="card-img" src="{{ url_for('static_media', filename='user_profile_pics/'+band.image_file ) }}" > {# filename=band.media.tour_media.pictures.square #}
  {#}  {% else %}
        <img class="card-img" src="{{ url_for('static_media', filename='user_profile_pics/defaultband.jpg') }}" >
    {% endif %} #}
    <h2 class="card-title">{{ band.org_title }}</h2>
    <p>{{ band.cls }} | {{ band._cls }}</p>
    <p class="card-body">{{ band.description }}</p>

    <p class="card-body"><a href="#">Edit Band Profile</a> | <a href="{{ url_for('user.manage_tours', band_name=band.org_title) }}">Manage Tours</a></p>

</div>
{% endfor %}
{% endblock content %}