{% macro render_field(field) %}

    <label for="bandname" class="field">
        <span class="label-text">{{ field.label }}</span>
        {% if field.errors %}
            {{ field(class_="is-invalid", **kwargs)|safe  }}
            <ul class="invalid-feedback">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% else %}
            {{ field(**kwargs)|safe }}
        {% endif %}
    </label>

{% endmacro %}