{% extends "base.html" %}
{% block content %}
 <h1>HOME Listing </h1>
{% include 'include_pages_navbar.html'  %}
{% for band in bands.items %}
<div class="card">
    <div class="card-img" style="background-image: url({{ url_for('static_media', filename='band_profile_pics/'+band.media_assets.featured_image) }})">
    <a href="{{ url_for('public.band_detail', bname=band.band_name)}})"></a>
    </div>
    <div class="card-content">
        <p class="headline-eyebrow">{{ band.description }}</p>    
        <h2 class="headline"><a href="{{ url_for('public.band_detail', bname=band.band_name)}}">{{ band.band_name }}</a></h2>
        <p class="headline--strapline">{{ band.strapline }}</p>
        <p>{{ band.profile|truncate(80, False) }}</p>
        <p>{{ band.hometown.town }}, Co.{{ band.hometown.county }}</p>
        <ul class="genre-tags">
            {% for genre in band.genres[0:4] %}
            <li>{{ genre }}</li>
            {% endfor %}
        </ul>
        <div class="card-footer">
            <ul>
                <li><a href="{{ url_for('public.band_detail', bname=band.band_name)}}" class="btn btn-subform add">More Info</a></li>
            {% if current_user.is_authenticated %} {# and OWNS bands = session ? #}
                <li class="edit"><a href="{{ url_for('manage.update_band_profile', bname=band.band_name ) }}" class="btn btn-subform add">Edit</a></li>
            {% else %}

            {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endfor %}
<footer class="pages">
{% include 'include_pages_navbar.html'  %}
</footer>
{% endblock content %}