{% extends "base.html" %}
{% from "_render_pages_nav.html" import render_pages_nav %}
<!-- MAIN HEADER -->
{% block main__header %}
<header class="header--main">
{% if alphabet %}
<nav class="pages__pagelinks">
<div class="wrapper__alphabet wrapper__alphabet--top">
{% include "include_breadcrumbs.html" %}
    <ul class="pages__pagelinks__left--alphabet">
        {% for beta in alphabet %}
        <li><a class="btn {{ 'btn--pagelink--current' if beta == letter }}" href="/a-z/{{beta}}?page=1">{{ beta }}</a></li>
        {% endfor %}
    </ul>
</div>
<h1 class="headline--alphabet">Bands <small>starting with</small> {{ letter|upper }}<br><span class="headline--strapline">in alphabetical order</span></h1>
{{ render_pages_nav(bands, 'public.a2z', letter) }}
</nav>
{% else %}
{% include "include_breadcrumbs.html" %}
<h1 class="headline headline--solo">Bands Listing</h1>
<nav class="pages__pagelinks pages__pagelinks--below">
{{ render_pages_nav(bands, 'public.results', None, search) }}
</nav>
{% endif %}

</header>
{% endblock main__header %}
<!-- CONTENT -->
{% block content %}

{# {% include 'include_pages_navbar.html'  %} #}
{# {%  if band.items %}
{% for band in (bands.items %}  #}
{# {{ pagination.info }}
{{ pagination.links }} #}
{% for band in (bands.items if bands.items else bands) %} {# mongoengine queryset objects or pymong cursor (aggregations) #}
<div class="card">
    <div class="card-img" style="background-image: url({{ url_for('static_media', filename='band_profile_pics/'+band.media_assets.featured_image if band.media_assets else 'band_profile_pics/defaultband.jpg' ) }})">
    <a href="{{ url_for('public.band_detail', bname=band.band_name, letter=letter if letter)}}"></a>
    </div>
    <div class="card-content">
        <p class="headline-eyebrow">{{ band.description }}</p>    
        <h2 class="headline"><a href="{{ url_for('public.band_detail', bname=band.band_name, letter=letter if letter)}}">{{ band.band_name }}</a></h2>
        <p class="headline--strapline">{{ band.strapline }}</p>
        <p>{{ band.profile|truncate(80, False) }}</p>
        <p>{{ band.hometown.town }}, Co.{{ band.hometown.county }}</p>
        <ul class="genre-tags">
            {% for genre in band.genres[0:4] %}
            <li>{{ genre }}</li>
            {% endfor %}
        </ul>
        <div class="card-footer">
            <ul>
                <li><a href="{{ url_for('public.band_detail', bname=band.band_name, letter=letter if letter )}}" class="btn btn-subform add">More Info</a></li>
            {% if current_user.is_authenticated %} {# and OWNS bands = session ? #}
                <li class="edit"><a href="{{ url_for('manage.update_band_profile', bname=band.band_name ) }}" class="btn btn-subform add">Edit</a></li>
            {% else %}

            {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endfor %}
{# {% for dict_item in request.args %} #}
<hr>
<h3>{{ count }}</h3>
   {% for key, value in request.args.items() %}
      <h1>Key: {{key}}</h1>
      <h2>Value: {{value}}</h2>
   {% endfor %}

{{ search }}
{# {% endfor %} #}
{% endblock content %}
<!-- MAIN FOOTER -->
{% block main__footer %}
<footer class="pages">

{% if bands.pages > 1 %}
<nav class="pages__pagelinks">
{% if alphabet %}
{{ render_pages_nav(bands, 'public.a2z', letter) }}
<div class="wrapper__alphabet wrapper__alphabet--bottom">
<ul class="pages__pagelinks__left--alphabet">
    {% for beta in alphabet %}
    <li><a class="btn {{ 'btn--pagelink--current' if beta == letter }}" href="{{ url_for('public.a2z', letter=beta, page=1 ) }}">{{ beta }}</a></li>
    {% endfor %}
</ul>
</div>
{% else %}
{{ render_pages_nav(bands, 'public.results', None, search) }}
{% endif %}

</nav>
{% endif %}
</footer>
{% endblock main__footer %}