{% extends "base.html" %}
{% block content %}
<h1>Manage Bands</h1>
<p><a class="btn btn-subform add" href="{{ url_for('bands.add_band') }}">Add New Band</a></p>
<hr>
{% include "include_breadcrumbs.html" %}
<hr>
{{ nav.gns.render(renderer='just_li') }}
<hr>
{% for band in bands %}
{# {{ nav.mysite_navigation.render() }} #}
<div class="card">
    {# {% if band.image_file %}
        <img class="card-img" src="{{ url_for('static_media', filename='user_profile_pics/'+band.image_file ) }}" > {# filename=band.media.tour_media.pictures.square #}
  {#}  {% else %}
        <img class="card-img" src="{{ url_for('static_media', filename='user_profile_pics/defaultband.jpg') }}" >
    {% endif %} #}
    <h2 class="card-title">{{ band.band_name }}</h2>
  {#   <p>{{ band.cls }} | {{ band._cls }}</p> #}
    <p class="card-body">{{ band.description }}</p>
<p class="card-body">{{ band.strapline }}</p>
    <p class="card-body"><a href="#">Edit Band Profile</a></p>
    {# | <a href="{{ url_for('bands.manage_tours', band_name=band.org_title) }}">Manage Tours</a> #}

</div>
{% endfor %}
{% endblock content %}
{% block sidebar %}
<div class="sidebar">
    <p> hello sidebar !</p>
</div>
{% endblock sidebar %}