<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bandX</title>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">

        <!-- link to google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/buttons-min.css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/tables-min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/css/intlTelInput.css">

    {% assets "home_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" >
    {% endassets %}
</head>
<body>
    <header class="main-grid header--branding">
    <nav class="main-menu">
        <div class="logo">
        <a href="{{ url_for('public.home') }}">Band<span>&times;</span></a>
        </div>
        <div class="navigation">
        <ul class="primary-nav">
        <li class="main-menu__item"><a href="{{ url_for('public.home') }}">Bands <small>(A-Z)</small></a></li>
        <li class="main-menu__item"><a href="#" class="current">Tour Dates <small>(by location)</small></a></li>
        <li class="main-menu__item"><a href="#">Contact</a></li>
        </ul>
        <!-- <a mobile menu toggle -->
        <ul class="secondary-nav">
            {% if current_user.is_authenticated %}
                {{ nav.sns_in.render(renderer='just_li') }}
            {# <li class=""><a href="{{ url_for('user.logout')}}">Log Out</a></li>
            <li class=""><a href="{{ url_for('user.account')}}">Settings</a></li>
            <li class=""><a href="{{ url_for('bands.manage_bands')}}">Manage Bands</a></li> #}
            {% else %}
                {{ nav.sns_out.render() }}
            {# <li class=""><a href="{{ url_for('user.login')}}">Login</a></li>
            <li class=""><a href="{{ url_for('user.register')}}">Register</a></li> #}
            {% endif %}
        </ul>
        </div>
    </nav>
    <!-- /HEADER -->
    </header>
    <main>
    <section class="main-grid content-area {%if sidebar %}{{ 'has-sidebar' }}{% endif %}">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock content %}
    </section>
    </main>
    {% if sidebar %}
    <aside class="sidebar">
    {% block sidebar %}{% endblock sidebar %}
    </aside>
    {% endif %}
    {% block javascript %}{% endblock javascript %}
    <!-- / MAIN -->
    <footer class="footer main-grid">
        <div class="footer-main">
            <img src="img/logo.png" alt="" class="footer-logo">
            <p class="footer-text">BandX listings database for Touring Bands, Players and Artists.<br>Helping Artists, Agents and Venues promote events and launches.</p>
            <p class="footer-fineprint">© RoZZaH 2020</p>
        </div>
            <ul class="social-list">
                <li class="social-item"><a href="#" class="social-link"><i class="fab fa-facebook-square"></i></a></li>
                <li class="social-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
                <li class="social-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
            </ul>
    </footer>



  

 </div>
</body>
</html>