{% extends "base.html" %}
{% block content %}

{# {% for county in counties %}
{{ county['_id'] }}
{% endfor %} #}
<ul >
{% for county in counties %}
    <li style="display: flex;width: 100%,">{{ county._id }} {{ '('~county.bands_total~')' if county.bands_total>0  else '' }}
    <ul style=" display: flex; flex-direction: row; flex-wrap: wrap; list-style: none">
    {% for town in county.towns|sort(attribute='name') %}
        <li style="width: 120px;  list-style: none">{{ town.name }} {{ '('~town.num~')' if town.num>0  else '' }}</li>
    {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>
{% endblock content %}