{% extends "base.html" %}
{% block content %}
<h1>{{ title }}</h1>
<div class="container">
<div class="content-block" id="datab" data-genrelist="{{ genrelist | safe }}" >
    {# <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
            <h2 class="account-heading">{{ current_user.username }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
        </div>
    </div> #}
    <!-- form change account settings -->
    <form method="POST" action="" enctype="multipart/form-data"><!-- allow file upload -->
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add New Band</legend>
            {{ form.bandname.label(class="form-control-label") }}
                {% if form.bandname.errors %}
                    {{ form.bandname(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.bandname.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.bandname(class="form-control form-control-lg") }}
                {% endif %}
            {{ form.genres.label(class="form-control-label") }}
                {% if form.genres.errors %}
                    {{ form.genres(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.genres.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>

                {% else %}
                    {{ form.genres(class="form-control form-control-lg", id="testInput") }}
                {% endif %}

            {{ form.profile.label(class="form-control-label") }}
                {% if form.profile.errors %}
                    {{ form.profile(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.profile.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.profile(class="form-control form-control-lg") }}
                {% endif %}
            
            {{ form.origin_county.label }}
                {{ form.origin_county }}

             {{ form.origin_town.label }}
                {{ form.origin_town }}

            {# {{ form.picture.label() }}
                {{ form.picture(class="form-control-file") }}
                {% if form.picture.errors %}#}
                    {# picture file validation 
                    <div class="invalid-feedback">
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                    </div>
                {% endif %} #}
        </fieldset>
            {{ form.submit(class="btn btn-outline-info") }}
    </form>
</div>
</div>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% assets "home_js" %}
      <script src="{{ ASSET_URL }}" ></script>
    {% endassets %}

    <script>
        
			$(function() {
                let el = document.getElementById("datab")
                let genrelist = el.dataset.genrelist.split(",")
                console.log(genrelist)
				$("#testInput").tags({
                    requireData: false,
                    unique: true,
                    maxTags: 8,
                }).autofill({
                    color: "red",
                    top: "0",
                    left: "2em",
                    data: genrelist
				}); 
			});
           
	</script>
    <script>
    
            let oCounty_select = document.getElementById("origin_county")
            let oTown_select = document.getElementById("origin_town")

            oCounty_select.addEventListener("change", function(){
                
                fetch("/town/" + this.value).then(function(response){
                    response.json().then( function(data) {
                        //console.table(data)
                        let optionHTML = ""
                        for(let town of data.towns) {
                            optionHTML += `<option value='${town.val}'>${town.name}</option>`
                        }
                        oTown_select.innerHTML = optionHTML

                    })
                })
            })
            
    </script>
{% endblock content %}
