{% extends "base.html" %}
{% block content %}
<h1>{{ title }}</h1>
<div class="container">
<div class="content-block" id="datab" data-genrelist="{{ genrelist | safe }}" >

    <form method="POST"><!-- allow file upload -->
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Organisation Details</legend>
            {{ form.org_type }} {# hidden #}
            {{ form.org_name.label }}
                {% if form.org_name.errors %}
                    {{ form.org_name(class="is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.org_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.org_name }}
                {% endif %}
            {{ form.description.label }}
                {% if form.description.errors %}
                    {{ form.description(class="is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.description }}
                {% endif %}
            {{ form.profile.label }}
                {% if form.profile.errors %}
                    {{ form.profile(class="is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.profile.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.profile }}
                {% endif %}
            
            {# {{ form.hometown.origin_county.label }}
            {{ form.hometown.origin_county }}
            {{ form.hometown.origin_town.label }}
            {{ form.hometown.origin_town }} #}
{# {% for contact in contacts %}
{{ contact.contact_1 }}
{%  endfor %} #}

            <fieldset data-inx="contact">
            <!-- /subform -->
            <div id="subforms-container-contact">
                {% for subform in form.contacts %}
                    <div id="contact-{{ loop.index0 }}-form" class="subform" data-index="{{ loop.index0 }}">
                        {{ subform.a_id }}

                        {{ subform.refname.label }}
                        {{ subform.refname }}

                        {{ subform.contact_1.label }}
                        {{ subform.contact_1 }}

                        {{ subform.email_1.label }}
                        {{ subform.email_1 }}

                        {{ subform.email_2.label }}
                        {{ subform.email_2 }}

                        <a class="remove" href="#">Remove</a>

                    </div>
                 {% endfor %}
            </div>
                <button type="button" class="add" href="#">Add Contact</button>
            </fieldset>

        </fieldset>
            {{ form.submit(class="btn btn-outline-info") }}
    </form>
</div>
   {% if form.errors %}
            {{ form.errors }}
        {% endif %}


        {# Show submitted data #}
        {% if data is defined %}
            <p>Received data: {{ data }}</p>
        {% endif %}

</div>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% assets "org_band_js" %}
      <script src="{{ ASSET_URL }}" ></script>
    {% endassets %}



{% endblock content %}
