{% extends "base.html" %}

{% block content %}
<form method="POST" action="{{ url_for('public.search')}}" >
    <input name="andor" type="radio" value="false" checked>any (or search)
    <input name="andor" type="radio" value="true">specifically (and search)
<ul>
    {% for genre in genres %}
    {# <li><a href="{{ url_for('public.search', genre=genre) }}" >{{ genre }}</a></li> #}


    <input name="genres" type="checkbox" value="{{genre}}">{{genre}}

    {% endfor %}
</ul>
<button type="submit">Submit</button>
</form>

{% endblock content %}