{% extends "base.html" %}
{% block content %}
{% for tourdate in tourdates %}
<div class="card">
    {% if tourdate.image_file %}
        <img class="card-img" src="{{ url_for('static_media', filename='band_profile_pics/'+tourdate.image_file ) }}" > {# filename=tourdate.media.tour_media.pictures.square #}
    {% else %}
        <img class="card-img" src="{{ url_for('static_media', filename='band_profile_pics/defaultband.jpg') }}" >
    {% endif %}
    {# {{ tourdate._cls }} org class #}
    <h2 class="card-title">{{ tourdate.band_name }}</h2>
    <p class="card-body">{{ tourdate.description }} | {{ tourdate.strapline }}<br>
       {{ tourdate.profile }}</p>
    <p class="card-show-time"><span>15</span> April<br>2020</p>
    <a href="#" class="card-btn"> {{ tourdate.hometown.county }}  Buy Tickets</a>
    <a href="{{url_for('bands.update_band_profile', band_name=tourdate.band_name)}}">Manage Band</a>
</div>
{% endfor %}
{% endblock content %}