{% extends "base.html" %}
{% block content %}
<div class="content-block">
    <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="loginform">
        <legend>Sign In</legend>
        {{ form.email.label }}
            {% if form.email.errors %}
                {{ form.email(class="is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email}}
            {% endif %}
        {{ form.password.label }}
            {% if form.password.errors %}
                {{ form.password(class="is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password }}
            {% endif %}
        {{ form.remember(class="form-check") }}
        {{ form.remember.label(class='form-check') }}
    </fieldset>
        {{ form.submit(class='btn-form-submit') }}
        <span class="forgot-password"><small><a href="#">Forgot Password?</a></small></span>
    </form>
</div>
<div class="content-block">
    <small>Don't have an Account? <a href="{{ url_for('user.register') }}">Sign Up Today</a></small>
</div>



{% endblock content %}