{% extends "base.html" %}
{% from "_render_field.html" import render_field %}

{% block content %}
<header class="main__header">
<div class="header--mgt">
<h1>{{ title }}</h1>
{% if band %}
<btn class="btn btn-subform remove del-band">Delete Band</btn>
{% endif %}
</div>
</header>
    <form method="POST" enctype="multipart/form-data" id="datab" data-genrelist="{{ genrelist.genres|safe }}" >
            {{ form.hidden_tag() }}
        <fieldset class="l-one-third" style="">
            <legend>Band Promo Image</legend>                               {# filename=band.media.tour_media.pictures.square #}
            {% if band %}
            <img class="band-img" src="{{ url_for('static_media', filename='band_profile_pics/'+band.media_assets.featured_image) }}" >
            {% else %}
            <img class="band-img" src="{{ url_for('static_media', filename='band_profile_pics/defaultband.jpg') }}" >
            {% endif %}
            {{ form.media_assets.featured_image.label }}
                {# fix recesss styling #}
                {{ form.media_assets.featured_image(class="form-control-file") }}
                {% if form.media_assets.featured_image.errors %}
                    {% for error in form.media_assets.featured_image.errors %}
                        <span class="alert-danger">{{ error }}</span><br/>
                    {% endfor %}
                {% endif %}
        </fieldset>
        <fieldset class="r-two-thirds">
            <legend>Band Details</legend>
            {{ render_field(form.band_name) }}
            {{ render_field(form.description) }}
            {{ render_field(form.strapline) }}
            <fieldset class="genres">
                <legend>Genres</legend>
                <ul class="genre-checkbox-wrapper">
                {% for genre in genrelist|sort %}
                    <li><input class="debug" type="checkbox" name="genre" value="{{genre}}" {{ 'checked' if genre in band.genres else ''}}><label>{{genre}}</label></li>
                {% endfor %}
                </ul>
                <label>Other:</label>
                    <input type="text" name="genre">
            </fieldset>
            {{ form.hometown.origin_county.label }}
                {{ form.hometown.origin_county }}
            {{ form.hometown.origin_town.label }}
                {{ form.hometown.origin_town }}
            {{ render_field(form.profile) }}
            </fieldset>
        <fieldset class="half" data-formlet="member">
            <legend>Band Members</legend>
                <div id="subforms-container-member" class="subform">
                        {% for subform in band.band_members or form.members %} {#   #}
                        <div id="member-{{ loop.index0 }}-form" class="subform" data-index="{{ loop.index0 }}">
                            <label for="members-{{ loop.index0 }}-instruments">Instrument(s)</label>
                            {# error checking for instruments ? - at least one? #}
                                <input id="members-{{ loop.index0 }}-instruments" name="members-{{ loop.index0 }}-instruments" type="text" value="{{ band.band_members[loop.index0]['instruments'] if band else ''  }}"> {# |join(', ') - placeholder="use commas, between, instruments" #}
                            <label for="members-{{ loop.index0 }}-musician">Musician&#39;s Name</label>
                            {% if form.errors and form.members[loop.index0].musician.errors %}
                                {% set idx = loop.index0 %}
                                <input id="members-{{ loop.index0 }}-musician" name="members-{{ loop.index0 }}-musician" type="text" value="{{ request.form['members-'+idx|string+'-musician'] }}">       
                                <div class="invalid-feedback">
                                {% for error in form.members[idx].musician.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                                </div>
                            {% else %}
                                <input id="members-{{ loop.index0 }}-musician" name="members-{{ loop.index0 }}-musician" type="text" value="{{ band.band_members[loop.index0]['musician'] if band else ''  }}">       
                            {% endif %}
                            {% if loop.index0 > 0 %}
                            <button type="button" class="remove btn-subform">Remove</button>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <button type="button" class="add btn-subform">Add Band Member</button>
                <!-- /subform -->
        </fieldset>
        <fieldset class="half">
            <legend>Promotion</legend>
            {{ render_field(form.media_assets.featured_video) }}
            {{ render_field(form.contact_details.contact_name) }}
            {{ render_field(form.contact_details.contact_title) }}
            {{ render_field(form.contact_details.contact_emails.email_title) }}
            {{ render_field(form.contact_details.contact_emails.email_address) }}
            
            <ul id="contact_details-contact_numbers-mobile">
                <li><input id="contact_details-contact_numbers-mobile-0" name="contact_details-contact_numbers-mobile" type="radio" {{ 'checked' if form.contact_details.contact_numbers.mobile.data==1 else '' }} value=1> <label for="contact_details-contact_numbers-mobile-0">mobile</label></li>
                <li><input id="contact_details-contact_numbers-mobile-1" name="contact_details-contact_numbers-mobile" type="radio" {{ 'checked' if form.contact_details.contact_numbers.mobile.data==0 else '' }} value=0> <label for="contact_details-contact_numbers-mobile-1">landline</label></li>
            </ul>
            
            {{ 'checked' if form.contact_details.contact_numbers.mobile.data == 1 else 'not checked' }}
    
            {{ render_field(form.contact_details.contact_numbers.number) }}
            {{ render_field(form.enquiries_url)}}
            <!-- /form -->
        </fieldset>
        {{ form.submit(class="btn btn-outline-info") }}
    </form>
     {% if form.errors %}
            {{ form.errors }}
        {% endif %}
    {% if data is defined %}
            <p>Received data: {{ data }}</p>
        {% endif %}

<div id="del-modal">
    <form action="{{ url_for('manage.delete_band', bname=band.band_name) }}" method="POST"> {#  #}
    <h4>Warning: DELETE BAND</h4>
    <p>Are you sure you want to delete:</p>
    <p class="centered--bold">{{band.band_name}} ???</p>
    <p>This action cannot be undone!</p>
    <div class="modal-controls">
        <button class="btn btn-subform cancel">Cancel</button>
        <input class="btn remove btn-subform" type="submit" value="DELETE">
    </div>
    </form>
</div>

{% endblock content %}


{% block javascript %}
    {% assets "org_band_js" %}
    <script src="{{ ASSET_URL }}" ></script>
    {% endassets %}
    
    <script>
    /* generate and select Towns dropdown menu */
    const selected_county = "{{ selected_county }}" || "Antrim"
    choiceSelect("select.origin-county", selected_county)
    loadTowns(selected_county)
    .then(data => document.querySelector("select.origin-town").innerHTML = data)
    .then( () => ("{{ selected_town }}" == "none")? true : choiceSelect("select.origin-town", "{{ selected_town }}"))

    /* Modal */
    const toggleClass = (el, className) => el.classList.toggle(className)
    const modal = document.getElementById("del-modal")

    document.querySelector(".del-band").addEventListener("click", () => {  
        toggleClass(modal, "show")
    })

    document.querySelector("#del-modal .cancel").addEventListener("click", (e) => {
        e.preventDefault()
        toggleClass(modal, "show")
    })


    </script>
{% endblock javascript %}
