{% extends "base.html" %}
{% block content %}

<ul class="leaderboard">
{% for province in provinces %}
    <li class="{{ province._id|lower }}">
        <input type="checkbox" id="{{ province._id | lower}}" class="province"><label for="{{ province._id|lower }}">{{province._id}}</label>
        <ul class="leaderboard-county">
        {% for county in province.counties|sort(attribute='county') %}
        <li>
            <input type="checkbox" id="{{  county.county  | lower}}" class="county"><label for="{{ county.county  | lower}}">Co. {{ county.county }}</label>
            {% if county.no_of_bands_per_county > 0 %}
                <a href="/?counties={{ county.county|title }}" class="no_of_bands">&nbsp;<b>{{ county.no_of_bands_per_county|string }}</b></a> <!-- county -->
            {% else %}
                &nbsp;<small>{{ county.no_of_bands_per_county|string }}</small>
            {% endif %}
            <ul class="leaderboard-town">
            {% for countytowns in county.towns %}
                <li>{{ countytowns.town }} {% if countytowns.no_of_bands > 0 %}| <a href="/?town={{ countytowns.town|title }}" class="no_of_bands">{{ countytowns.no_of_bands|string }}</a>{% endif %}</li>

            {% endfor %}
            </ul>
        </li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
{% endblock content %}

{% block javascript %}
<script>
const provinces = [... document.getElementsByClassName("province")];
provinces.forEach(
    el => el.addEventListener("change", function(obj){        
        const _provinces = ["munster", "leinster", "ulster", "connacht"]
        for(province of _provinces) {
            if(province != this.id) {
                document.getElementById(province).checked = false;
            }else {
                if(province == this.id && obj.checked) {
                    obj.checked = false;
                } else {
                    obj.checked = true;
                }
            }
        }

    }));

const counties = [...document.getElementsByClassName("county")];
counties.forEach(
    el => el.addEventListener("change", function(obj){     
        const counties = ["antrim", "armagh", "carlow", "cavan", "clare", "cork", "derry", "donegal", "down", "dublin", "fermanagh", "galway",
                        "kerry", "kildare", "kilkenny", "laois", "leitrim", "limerick", "longford", "louth", "mayo", "meath", "monaghan",
                        "offaly", "roscommon", "sligo", "tipperary", "tyrone", "waterford", "westmeath", "wexford", "wicklow"]
        for(county of counties){
            if(county != this.id){
                document.getElementById(county).checked  = false;
            } else {
                obj.checked = true;
            }
        }         
    }));

</script>
{% endblock javascript %}