<div id="page-footer">
    <div class="mission-statement">
        <a href="{{ url_for('public.results') }}" class="footer-logo"><img src="/img/bandz.svg" alt=""></a>
        <p class="footer-text">Bandz, an A-Z listings database for Irish touring Bands, Players and Artists.<br>Helping Artists, Agents and Venues promote events and launches North and South, East to West, across the Island of Ireland.</p>
        <p class="footer-fineprint">© RoZZaH 2020</p>
    </div>
    <ul class="social-list">
        <li class="social-item"><a href="#" class="social-link"><i class="fab fa-facebook-square"></i></a></li>
        <li class="social-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
        <li class="social-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
    </ul>
</div>