{% extends "base_no_lnsb.html" %}
{% block header__lns %}
<div id="lns--top">
    {% include "include_breadcrumbs.html" %}
</div>
{% endblock header__lns %}
{% block main__content %}
<artile class="band-detail">

<header class="header--main">
 <div class="header--mgt">
        <div class="headlines">
            <h6 class="headline--eyebrow">{{ band.description }}</h6><!-- newpaper terms leadin -->
            <h1 class="headline">{{ band.band_name }}</h1>
            <h4 class="headline--strapline">{{ band.strapline }}</h4>
        </div>
    {% if current_user.is_authenticated %} 
        <div class="controls">
        {% set band_view = 'recent' if (request.view_args['band_view'] is undefined or request.view_args['band_view'] == 'recent') else 'alpha' %}
            <a href="{{ url_for('manage.update_band_profile', bname=band.band_name, letter=band.catalogue_name[0], band_view=band_view ) }}" class="btn btn-subform add" >Edit Band</a>
        </div>
    {% endif %}
    <!-- /header--mgt -->
    </div>
</header>
<div class="content-block">
   

{% if band %}
    {% if band.media_assets.featured_video.service %} <!-- not null/empty -->
        <div id="video-wrapper">
        {% if band.media_assets.featured_video.service == "youtube"  %}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ band.media_assets.featured_video.vid }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% else %}
        <iframe width="560" height="315" src="https://player.vimeo.com/video/{{ band.media_assets.featured_video.vid }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        {% endif %}
        </div>
    {% endif %}
{% endif %}

<h2 class="headline--profile">Profile</h2>
<p>{{ band.profile }}</p>
</div>

<!-- band details -->
{% block sidebar %}
<dl class="details">
    <dt class="colon-after">Hometown</dt>
        <dd>{{ band.hometown.town }}, Co.{{ band.hometown.county }}</dd>
    <dt class="colon-after" id="tags">Genres</dt>
    <!-- tags -->
    <dd>
        <ul class="genre-tags">
        {% for genre in band.genres %}
            <li>{{ genre }}</li> 
        {% endfor %}
        </ul>
    </dd>
    <dt class="featured-img">Images</dt>
        <dd class="featured-img">
            <img class="band-img" src="{{ url_for('static_media', filename='band_profile_pics/'+band.media_assets.featured_image if band.media_assets.featured_image else 'band_profile_pics/defaultband.jpg') }}" >
        </dd>
        {% if band.media_assets.featured_image %}
        <dd class="featured-img featured-img-caption">Promotional Image for {{ band.band_name }}</dd><!-- more images -->
        {% endif %}
    <dt class="colon-after">Members</dt>
        {% for member in band.band_members %}
        <dd>{{ member.musician }} &mdash; {{ member.instruments }}</dd>
        {% endfor %}
</dl>
<dl class="enquiries">
    <dt>{{ band.contact_details.contact_generic_title }}</dt>
        {% if band.contact_details.contact_name %}
        <dd>{{ band.contact_details.contact_name }}, {{ band.contact_details.contact_title }}</dd>
        {% endif %}
        <dd><a href="mailto:{{ band.contact_details.contact_emails.email_address }}">Email</a> : {{ band.contact_details.contact_emails.email_address }}</dd>

        <dd><a href="tel:{{ band.contact_details.contact_numbers.number }}">{{ 'Mobile' if band.contact_details.contact_numbers.mobile else 'Phone' }}</a> : {{ band.contact_details.contact_numbers.number }}</dd>{# icon for mob/landline #}
        {% if band.links.enquiries %} 
        <dd><a href="{{ band.links.enquiries }}">Online Enquiries</a></dd>
        {% endif %}
</dl>
{% endblock sidebar %}
</article>
{% endblock main__content %}





{% block javascript %}
    {% assets "org_band_js" %}
    <script src="{{ ASSET_URL }}" ></script>
    {% endassets %}
    
    <script>
 
    /* Modal */
    const toggleClass = (el, className) => el.classList.toggle(className)
    const modal = document.getElementById("del-modal")

    document.querySelector(".del-band").addEventListener("click", () => {  
        toggleClass(modal, "show")
    })

    document.querySelector("#del-modal .cancel").addEventListener("click", (e) => {
        e.preventDefault()
        toggleClass(modal, "show")
    })


    </script>
{% endblock javascript %}