{% from "_render_pages_nav.html" import render_pages_nav %}
{% extends "base.html" %}
<!-- HEADER LNS -->
{% block header__lns %}
<div id="lns--top">
{% include "include_breadcrumbs.html" %}
    {% if request.path[:8] == "/genres/" %}
        <nav class="pagelinks pagelinks--letters" aria-label="letters of the alphabet">
            <ul>{%- for beta in alphabet.keys() -%}
                {% set genre = request.view_args['genre'] %}
                <li class="{{ 'btn--pagelink--current' if beta == letter}}"><a href="{{ url_for('public.get_by_genre', genre=genre, letter=beta) }}"><span class="ltr">{{ '#' if beta == "1" else beta }}</span><span class="nbr">{{alphabet[beta]}}</span></a></li> 
                {%- endfor -%}</ul>
        </nav>
        <section class="paged-results-info" aria-label="paged results links">
            <h1 class="headline--alphabet">{{genre|title}} bands <small>starting with{{ ' a</small> Number or $ymbol'|safe if letter == "_" else '</small> '|safe~letter|upper }}
            <br><span class="headline--strapline">{{ 'in alphabetical order' if letter != "_" else '&nbsp;'|safe }}</span>
            </h1>
        <nav class="pagelinks pagelinks--pagenums"> <!-- next letter -->
        {{ render_pages_nav(bands, 'public.get_by_genre', { 'genre' : request.view_args['genre'], 'letter' : letter }) }}
        </nav>
        </section>
    {% elif request.path[:5] == "/a-z/" %}
        <nav class="pagelinks pagelinks--letters {{ 'pagelinks--letters-home' if request.path == '/' and not search_terms }}" aria-label="letters of the alphabet">
            <ul>{%- for beta in alphabet.keys() -%}
                <li class="{{ 'btn--pagelink--current' if beta == letter}}"><a href="/a-z/{{ beta }}"><span class="ltr">{{ '#' if beta == "1" else beta }}</span><span class="nbr">{{alphabet[beta]}}</span></a></li> 
                {%- endfor -%}</ul>
        </nav>
        {% if closest_letters %}
        <h1 class="headline--alphabet">No Bands <small>starting with</small> {{ letter|upper }}!</h1>
        {% else %}
        <!-- section | display contents on section for mobile-->
        <section class="paged-results-info" aria-label="paged results links">
            <h1 class="headline--alphabet">Bands <small>starting with{{ ' a</small> Number or $ymbol'|safe if letter == "_" else '</small> '|safe~letter|upper }}
            <br><span class="headline--strapline">{{ 'in alphabetical order' if letter != "_" else '&nbsp;'|safe }}</span>
            </h1>
            <nav class="pagelinks pagelinks--pagenums"> <!-- next letter -->
            {{ render_pages_nav(bands, 'public.a2z', { 'letter': letter }) }}
            </nav>
        </section>
        {% endif %}
    {% else %}
    <p> some different route to a-z || genre</p>
    {% endif %}
</div>
{% endblock header__lns %}

<!-- MAIN HEADER -->
{% block main__header %}{% endblock main__header %}
<!-- CONTENT -->
{% block main__content %}
        {% include 'include_bands_list_cards.html' %}
{% endblock main__content %}
<!-- MAIN FOOTER -->
{% block main__footer %}{% endblock main__footer %}
<!-- FOOTER LNSBottom -->
{% block footer__lnsb %}
<div id="lns--bottom">
{% if bands and request.path[:5] == "/a-z/" %}
        <nav class="pagelinks--pagenums">
        {{ render_pages_nav(bands, 'public.a2z', { 'letter': letter }) }}
        </nav>
        {% if alphabet %}
        <nav class="pagelinks pagelinks--letters" aria-label="letters of the alphabet">
            <ul>{%- for beta in alphabet.keys() -%}
                <li class="{{ 'btn--pagelink--current' if beta == letter}}"><a href="/a-z/{{ beta }}"><span class="ltr">{{ '#' if beta == "1" else beta }}</span><span class="nbr">{{alphabet[beta]}}</span></a></li> 
                {%- endfor -%}</ul>
        </nav>
        {% endif %}
{% elif bands and request.path[:8] == "/genres/" %}
        <nav class="pagelinks pagelinks--pagenums"> <!-- next letter -->
        {{ render_pages_nav(bands, 'public.get_by_genre', { 'genre' : genre, 'letter' : letter }) }}
        </nav>
        {% if alphabet %}
        <nav class="pagelinks pagelinks--letters {{ 'pagelinks--letters-home' if request.path == '/' and not search_terms }}" aria-label="letters of the alphabet">
            <ul>{%- for beta in alphabet.keys() -%}
                {% set genre = request.view_args['genre'] %}
                <li class="{{ 'btn--pagelink--current' if beta == letter}}"><a href="{{ url_for('public.get_by_genre', genre=genre, letter=beta) }}"><span class="ltr">{{ '#' if beta == "1" else beta }}</span><span class="nbr">{{alphabet[beta]}}</span></a></li> 
                {%- endfor -%}</ul>
        </nav>
        {% endif %}
{% else %}       
{% endif %}
</div>
{% endblock footer__lnsb %}