<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bandz</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/buttons-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/tables-min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/css/intlTelInput.css">

    {% assets "home_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" >
    {% endassets %}
</head>
<body>
<header id="navigation">
{% include "include_header_gns.html" %}
{% include "include_header_lns.html" %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<!-- /HEADER -->
</header>
<main class="no-lnsb {{ 'full-page' if fullpage }} {{ 'has-sidebar' if sidebar }} {{ 'auth' if current_user.is_authenticated  }}">
{% block main__header %}{% endblock main__header %}
{% block main__content %}{% endblock main__content %}
{% block sidebar %}{% endblock sidebar %}
{% block main__footer %}{% endblock main__footer %}
<!-- / MAIN -->
</main>
<hr class="spacer-3em">
<footer id="footer">
    <!-- LNS BOTTOM NONE -->
    {% include 'include_footer_end.html' %}
    <!-- /FOOTER -->
</footer>
<!-- JS -->
{% block javascript %}{% endblock javascript %}
</body>
</html>