<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bandz</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">

    <!-- link to google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/buttons-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/tables-min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/css/intlTelInput.css">

    {% assets "home_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" >
    {% endassets %}
</head>
<body>
<header id="navigation">
<!-- GNS -->
{% include "_include_header_gns.html" %}
<!--  LNS -->
{% block header__lns %}{% endblock header__lns %}
<!-- FLASH MSG -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<!-- /HEADER -->
</header>
<main class="main-grid content-area {{ 'form-page' if formpage }} {{ 'auth' if current_user.is_authenticated  }}">
    {% block main__header %}{% endblock main__header %}
    {% block main__content %}{% endblock main__content %}
    {% block main__footer %}{% endblock main__footer %}
</main>
<div class="spacer-3em-lnsb"></div>
<footer id="footer">
    <!-- LNS BOTTOM NONE -->
    {% include '_include_footer_end.html' %}
    <!-- /FOOTER -->
</footer>
    {% block javascript %}{% endblock javascript %}
    <!-- / MAIN -->
</body>
</html>