{% extends "base.html" %}
{% block main__header %}
<header class="header--main">
<h1 class="mt-1 centered">Bands by Genre</h1>
</header>
{% endblock main__header %}
{% block main__content %}

<ul>
{% for genre in genres %}
{# <li><a href="/?genres={{genre._id|lower}}">{{ genre._id|title }}</a> ({{genre.no_of_bands_per_genre}} bands) </li> #}
<li><a href="/genres/{{genre._id|lower}}">{{ genre._id|title }}</a> ({{genre.no_of_bands_per_genre}} bands) </li>
{% endfor %}
</ul>
{% endblock main__content %}