<nav aria-label="Breadcrumbs" class="breadcrumbs {{ 'breadcrumbs--alphabet' if letter and not band }}">
<ol>
{% if letter %}
<li><a href="{{ url_for('public.results') }}">Bands</a></li>
<li><a href="{{ referrer }}">A-Z</a></li>
    {% if not band %}
        <li><b>{{ letter|upper }}</b></li>
    {% else %}
        <li><a href="{{ referrer }}">{{ beta or 'a'|upper }}</a></li>
        <li><b>{{ band.band_name }}</b></li>
    {% endif %}
{% else %}
    {% for breadcrumb in breadcrumbs %}
        {% if not loop.last %}
            <li><a href="{{ referrer }}">{{ breadcrumb.text }}</a></li>
        {% else %}
            <li>{{ breadcrumb.text }}</li><!-- aria-current -->
        {% endif %}
    {% endfor %}
{% endif %}
</ol>
</nav>