{% extends "base.html" %}
{% from "_render_grid_field.html" import render_field %}

{% block main__header %}
{% include 'include_breadcrumbs.html' %}
{% endblock main__header %}

{% block main__content %}
<div class="content-block">
    <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-header">
    <h3>Sign In</h3>
    </div>
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
       
        {{ form.remember }}
        {{ form.remember.label }}
    <div class="form-footer">
        {{ form.submit(class='btn-form-submit') }}
        <span class="forgot-password"><small><a href="#">Forgot Password?</a></small></span>
    </div>
    </form>
</div>
<div class="content-block center">
    <small>Don't have an Account? <a href="{{ url_for('user.register') }}">Sign Up Today</a></small>
</div>



{% endblock main__content %}

{% block form__footer %}
<footer class="footer">
{% include 'include_footer.html' %}
</footer>
{% endblock form__footer %}