{% extends "base_form.html" %}

{% from "_render_grid_field.html" import render_field %}


{% block main__header %}
<header class="main__header">
<div class="header--mgt">
<h1>{{ title }}</h1>
</div>
</header>
{% endblock main__header %}

{% block main__content %}

    <form method="POST" action="{{ url_for('manage.add_band', stage=1) }}">
    {% set step = "band_name_hometown" %}

        {{ form.hidden_tag() }}
        {% if step == "band_name_hometown" %}
        <ul id="solo">
            <li><input id="solo-0" name="solo" type="radio" value=0 checked=checked> <label for="solo-0">Band</label></li>
            <li><input id="solo-1" name="solo" type="radio" value=1> <label for="solo-1">Solo Artist</label></li>
        </ul>
        <label for="band_name" class="field">
            <span class="label-text">Band Name</span>
            {{ form.band_name }}
            <ul class="unique-band-yes-no {{ 'no' if form.band_name.errors }}">
            {% if form.band_name.errors %}
                {% for error in form.band_name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            {% else %}
                <li>&nbsp;</li>
            {% endif %}
            </ul>
        </label>
        <label class="field">
            <span class="label-text">From County</span>
            {{ form.hometown.origin_county }}
        </label>
        <label class="field">
            <span class="label-text">From Town/Locality</span>
            {{ form.hometown.origin_town }}
        </label>
        <div class="form-footer">
            <button class="btn btn-primary" id="submittion" type="submit">Next</button>
        </div>
        {% endif %}
    </form>
<hr>
    {% if form.errors %}
            {{ form.errors }}
        {% endif %}
    {% if data is defined %}
            <p>Received data: {{ data }}</p>
        {% endif %}

{% endblock main__content %}

{% block form__footer %}
<footer class="form__footer">
<p>footer stuff</p>
</footer>
{% endblock form__footer %}

{% block javascript %}

{% assets "org_band_js" %}
<script src="{{ ASSET_URL }}" ></script>
{% endassets %}    

    <script>
        /* generate and select Towns dropdown menu */
        const selected_county = "Antrim";
        choiceSelect("select.origin-county", selected_county);
        loadTowns(selected_county)
        .then(data => document.querySelector("select.origin-town").innerHTML = data)
        .then( () => ("{{ selected_town }}" == "none")? true : choiceSelect("select.origin-town", "{{ selected_town }}"));
        /* async check on uniqueness of band name */
        const bname = document.querySelector('input[name=band_name]');
        bname.addEventListener("keyup", checkband)
        async function checkband() {
            const response = await fetch('/check_band_name?q=' + bname.value)
            const json = await response.json()
            toggleUniqueMessage(json) 
        };
        function toggleUniqueMessage(tOrf=false){
            if(tOrf == true){
                bname.nextElementSibling.classList.remove("yes");
                bname.nextElementSibling.classList.add("no");
                bname.nextElementSibling.innerHTML = "<li>Error: Band name NOT unique!</li>";
            }else{
                bname.nextElementSibling.classList.remove("no");
                bname.nextElementSibling.classList.add("yes");
                bname.nextElementSibling.innerHTML = "<li>Band name unique, OK</li>";
            }
        }
    </script>

{% endblock javascript %}