{% from "_render_label_field.html" import render_field %}
{% extends "base_form.html" %}

{% block header__lns %}
<div id="lns--top">
{% set breadcrumbs = [{ 'text': 'Manage Bands', 'url': url_for('.mhome')},
                      { 'text': 'Add Band', 'url': url_for('.add_band', stage=1) },
                      { 'text': '1. Check Band Name', 'url': url_for('.add_band', stage=1) },
                      { 'text': '2. Band Description', 'url': url_for('.add_band', stage=2) }]  %}
{% include "_include_breadcrumbs.html" %}
</div>
{% endblock header__lns %}

{% block main__content %}
<form method="POST" action="{{ url_for('manage.add_band', stage=2) }}" enctype="multipart/form-data" id="datab" data-genrelist="{{ genrelist.genres|safe }}" class="new-band stage2">
{{ form.hidden_tag() }}
    <div class="form-header">
     <h1 class="centered">{{ bname }}</h1>
    </div>
    <div class="form-body">
    {{ render_field(form.description) }}
    {{ render_field(form.strapline) }}
    <fieldset id="genres"><legend>Genres</legend>
    {{ form.genres()|safe }}
    {{ render_field(form.genres_other) }}
    </fieldset>
    </div>
    <div class="form-footer">
        <input class="btn btn-primary add" type="submit" value="Next &raquo;" />
    </div>
    {# {% include "_form_debug_errors.html" %} #}
</form>

{% endblock main__content %}

{% block javascript %}

<script>
/* can't set default in wtforms */
{% if not form.errors %}
document.addEventListener("DOMContentLoaded", function(){
    document.querySelector("input[value='rock']").checked = true
})
{% endif %}
</script>

{% endblock javascript %}