{% from "_render_label_field.html" import render_field %}
{% extends "base_form.html" %}

{% block header__lns %}
<div id="lns--top">
{% set breadcrumbs = [{ 'text': 'Manage Bands', 'url': url_for('.mhome')},
                      { 'text': 'Add Band', 'url': url_for('.add_band', stage=1) },
                      { 'text': '1. Check Name', 'url': url_for('.add_band', stage=1) },
                      { 'text': '2. Description', 'url': url_for('.add_band', stage=2) },
                      { 'text': '3. Band Profile', 'url': url_for('.add_band', stage=3) }]  %}
{% include "_include_breadcrumbs.html" %}
</div>
{% endblock header__lns %}

{% block main__content %}
<form method="POST" action="{{ url_for('manage.add_band', stage=3) }}" enctype="multipart/form-data" class="new-band stage3">
{{ form.hidden_tag() }}
    <div class="form-header">
        <h1 class="centered">{{ bname }}</h1>
    </div>
    <div class="form-body">
    {{ render_field(form.profile) }}
    <fieldset class="half" data-formlet="member">
        <legend>Band Members</legend>
            <div id="subforms-container-member">
                {% for subform in form.members %}
                <div id="member-{{ loop.index0 }}-form" class="subform" data-index="{{ loop.index0 }}">
                    <label for="members-{{ loop.index0 }}-musician"><span class="label-text">Musician&#39;s Name</span>
                        <input id="members-{{ loop.index0 }}-musician" name="members-{{ loop.index0 }}-musician" type="text" value=""></label>
                    <label for="members-{{ loop.index0 }}-instruments"><span class="label-text">Instrument(s)</span>
                        <input id="members-{{ loop.index0 }}-instruments" name="members-{{ loop.index0 }}-instruments" type="text" value="" placeholder="use commas, between, instruments"></label> 
                    {% if loop.index0 > 0 %}
                    <button type="button" class="btn-subform remove"><span class="btn-text">Remove</span> <i class="fa fa-trash"></i></button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <button type="button" class="add btn-subform"><i class="fa fa-plus"></i> Add Band Member</button>
            <!-- /subform -->
    </fieldset>
    <fieldset id="band-image">
        <legend>Band Promo Image</legend>
            <p class="hint">Please choose a square Promotional Image<br/>
            <small><abbr title="Joint Photographic Experts Group">JPG</abbr> or <abbr title="Portable Network Graphics">PNG</abbr> image files allowed &ndash; will be resized to 400px&nbsp;&times;&nbsp;400px</small></p>
            {{ form.featured_image }}
            {% if form.featured_image.errors %}
                {% for error in form.featured_image.errors %}
                    <span class="alert-danger">{{ error }}</span><br/>
                {% endfor %}
            {% endif %}
    </fieldset>
    </div>
    <div class="form-footer">
        <input class="btn btn-primary add" type="submit" value="Next &raquo;" />
    </div>
    {# {% include "_form_debug_errors.html" %} #}
</form>

{% endblock main__content %}
{% block javascript %}

{% assets "org_band_js" %}
<script src="{{ ASSET_URL }}" ></script>
{% endassets %}    

{% endblock javascript %}