{% from "_render_label_field.html" import render_field %}
{% extends "base_form.html" %}

{% block header__lns %}
<div id="lns--top">
{% set breadcrumbs = [{ 'text': 'Manage Bands', 'url': url_for('.mhome')},
                      { 'text': 'Add Band', 'url': url_for('.add_band', stage=1) },
                      { 'text': '1. Check Band Name', 'url': url_for('.add_band', stage=1) }] %}
{% include "_include_breadcrumbs.html" %}
</div>
{% endblock header__lns %}

{% block main__header %}
{% endblock main__header %}

{% block main__content %}
<form method="POST" action="{{ url_for('manage.add_band', stage=1) }}" class="new-band stage1">
    {{ form.hidden_tag() }}
    <div class="form-header">
        <h1 class="centered">{{ title }}</h1>
    </div>
    <div class="form-body">
        <ul id="solo">
            <li><label for="solo-0"><input id="solo-0" name="solo" type="radio" value=0 checked=checked>&nbsp;Band</label></li>
            <li><label for="solo-1"><input id="solo-1" name="solo" type="radio" value=1>&nbsp;Solo Artist</label></li>
        </ul>
        <label for="band_name" class="field">
            <span class="label-text">Band Name</span>
            {{ form.band_name }}
            <ul class="unique-band-yes-no {{ 'no' if form.band_name.errors }}">
            {% if form.band_name.errors %}
                {% for error in form.band_name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            {% else %}
                <li>&nbsp;</li>
            {% endif %}
            </ul>
        </label>
        <label class="field" for="hometown-origin_county">
            <span class="label-text">From County</span>
            {{ form.hometown.origin_county }}
        </label>
        <label class="field" for="hometown-origin_town">
            <span class="label-text">From Town/Locality</span>
            {{ form.hometown.origin_town }}
        </label>
    </div>
    <div class="form-footer">
        <input class="btn btn-primary add" type="submit" value="Next &raquo;">
    </div>
{# {% include "_form_debug_errors.html" %} #}
</form>

{% endblock main__content %}

{% block form__footer %}
<footer class="form__footer">
<p>footer stuff</p>
</footer>
{% endblock form__footer %}

{% block javascript %}

{% assets "org_band_js" %}
<script src="{{ ASSET_URL }}" ></script>
{% endassets %}    

    <script>
        /* generate and select Towns dropdown menu */
        const selected_county = "Antrim";
        choiceSelect("select.origin-county", selected_county);
        loadTowns(selected_county)
        .then(data => document.querySelector("select.origin-town").innerHTML = data)
        .then( () => ("{{ selected_town }}" == "none")? true : choiceSelect("select.origin-town", "{{ selected_town }}"));
        /* async check on uniqueness of band name */
        const bname = document.querySelector('input[name=band_name]');
        bname.addEventListener("keyup", checkband)
        async function checkband() {
            const response = await fetch('/check_band_name?q=' + bname.value)
            const json = await response.json()
            toggleUniqueMessage(json) 
        };
        function toggleUniqueMessage(tOrf=false){
            if(tOrf == true){
                bname.nextElementSibling.classList.remove("yes");
                bname.nextElementSibling.classList.add("no");
                bname.nextElementSibling.innerHTML = "<li>Error: Band name NOT unique!</li>";
            }else{
                bname.nextElementSibling.classList.remove("no");
                bname.nextElementSibling.classList.add("yes");
                bname.nextElementSibling.innerHTML = "<li>Band name unique, OK</li>";
            }
        }
    </script>

{% endblock javascript %}