{% extends "base_form.html" %}
{% block main__content %}
<hr>
<form method="POST" action="" class="form-page sign-in-up">
<div class="form-header">
    <h1 class="white-text">Initial Setup !</h1>
</div>
<div class="form-body">
    <p class="warning">Once you create a user, JSON will be loaded into the MongoDB,<br/>
    <p>there are <b>3K dummy records for bands and 1K Towns</b> for this can take a little while - approx 30secs!<br>
    You will be redirected to restart the server when complete.</p> 
    {{ form.hidden_tag() }}
    
    <fieldset>
        <legend>Initial Setup</legend>
        {{ form.username.label(class="") }}
            {% if form.username.errors %}
                {{ form.username(class="is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.username }}
            {% endif %}
        {{ form.email.label }}
            {% if form.email.errors %}
                {{ form.email(class="is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email}}
            {% endif %}
        {{ form.password.label }}
            {% if form.password.errors %}
                {{ form.password(class="is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password }}
            {% endif %}
        {{ form.confirm_password.label }}
            {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.confirm_password }}
            {% endif %}
    </fieldset>
    <div class="form-footer">
        {{ form.submit(class='btn-form-submit') }}
    </div>
</form>
{% endblock main__content %}

{% block form__footer %}
    <footer class="footer">
    {% include '_include_footer.html' %}
    </footer>
{% endblock form__footer %}