{% extends "base_no_lnsb.html" %}
{% block header__lns %}
<div id="lns--top">
    {% include "include_breadcrumbs.html" %}
</div>
{% endblock header__lns %}

{% block main__header %}
<div class="user-settings">
<header class="header--main">
 <div class="header--mgt">
        <div class="headlines">
            <h1 class="headline">Account Settings for <span class="highlight">{{ current_user.username }}</span></h1>
            <h4 class="headline--strapline">{{ current_user.email }}</h4>
        </div>
 </div>
</header>
{% endblock main__header %}
{% block main__content %}
    <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
    </div>
    <!-- form change account settings -->
    <form method="POST" action="" enctype="multipart/form-data"><!-- allow file upload -->
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Account Info</legend>
            {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            {{ form.picture.label() }}
                {{ form.picture(class="form-control-file") }}
                {% if form.picture.errors %}
                    {# picture file validation #}
                    <div class="invalid-feedback">
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                    </div>
                {% endif %}
        </fieldset>
                    {{ form.submit(class="btn btn-outline-info") }}
    </form>
<!-- /.user-settings -->
</div>
{% endblock main__content %}
{% block main__footer %}
{% endblock main__footer %}