
h1 {
    font-size: 1rem;
}

form {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1em 16ch 1em 1fr 1em;
    grid-gap: 0.55em 0;
    border: 1px solid grey;
    border-radius: 6px;
    font-size: 1.25rem;
    padding-bottom:  1.5em;
}

.band-img {
    grid-column: 2 / span 1;
    grid-row: span 6;
    align-self: start;
    width: 16ch;
    height: 16ch;
    border-radius: 5px;
}

.push-down {
    margin-top: 1.25em;
}

.is-invalid {
    border: 1px solid red;
    font-size: 1.1rem;
    padding: 0.2em;
}

.invalid-feedback {
    margin: 0;
    padding: 0;
    grid-column: 4;
    color: firebrick;
    font-size: 1rem;
    line-height: 1em;
    position: relative;
    top: -0.5em;
}

.is-hidden {
    display: none;
}

fieldset {
    display: contents;
}

legend {
    position: relative;
    top: -0.8em;
    left: 0;
    padding: 0.2rem 1ch 0.3rem;
    background: $body-bg;
    white-space: nowrap;
    width: fit-content;
    grid-column: 2;
}


label {
    grid-column: 2;
    width: 16ch;
    text-align: left;
}

.float-right {
    grid-column: 4;
    width: 100%;
}

.loginform > label {
    text-align: right;
}

textarea, select, input {
    grid-column: 4;
    height: 1.5em;
}

textarea {
    font-size: 0.9rem;
    line-height: 1.5em;
    height: 9em;
}

textarea.td_phones {
    font-size: 0.9rem;
    line-height: 1.1em;
    height: 5em;
}

fieldset > div {
    grid-column: 2 / -2;
}
.subform {
    font-size: 1rem;
    padding-top: .25em;
    border-bottom: 1px solid $footer-bg;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 1em;
    grid-auto-flow: dense;
}

.subform:first-of-type {
    border-top: 1px solid $footer-bg;
}

// .subform label{
//     grid-column: auto;
// }

label.instrument-label,
input.instrument-input {
    grid-column: 1;
}

input::placeholder {
    font-size: .8rem;
}

label.band-member-label,
input.band-member-input {
    grid-column: 2;
}

.subform input{
    width: 100%;
    margin: .25em 0 .5em;
}

.add{
    background: mediumseagreen;
}

.btn-subform{
    padding: .25em .5em;
    font-size: 0.95rem;
    display: block;
    grid-column: 2;
    width: auto;
    color: white;
    text-decoration: none;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: .5em;
    border: none;
}

.remove {
    justify-self: end; 
    grid-column: 2;
    background: tomato;
}



.invalid-file {
    grid-column: 2 / -2;
}

.invalid-feedback {
    grid-column: 1/-1;
}



input[type=checkbox].form-check  {
    grid-column: 2;
    justify-self: end;
    transform: scale(1.25);
    border: 1px solid transparent;
    box-shadow: none;
}

label.form-check  {
    grid-column: 4;
    font-size: 0.9em;
    text-align: left;
    align-self: center;
}


.numbers {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.numbers label,
.numbers input {
   font-size: 1em;
   width: auto;
   margin-right: 0.25rem;
}

input[type=checkbox],
input[type=radio] {
    width: auto;
}

.numbers label {
    justify-self: flex-start;
}


.numbers:first-of-type > label.number-field {
    // color: orange;
    margin-left: 6.25rem;
}


label.number-field {
   margin-left: auto;
}




span.forgot-password {
    grid-column: 4;
}

.btn-form-submit {
    color: #fff;
    font-weight: 500;
    grid-column: 4;
    font-size: 1.25rem;
    background: $mustard;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 0.35rem 0.65rem;
    width: 18ch;
    height: 100%;
}

.media {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.rounded-circle {
    border-radius: 50%;
    grid-column: 1;
}
.media-body {
    grid-column: 2;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .text-danger {
      color: $alert-danger-txt;
      background-color: $alert-danger-bg;
      padding: 0.25em;
      border-radius: 2px;
      grid-column: 2;
      line-height: 1.5em;
  }