/* ==============
    GEN. LAYOUT 
   ============== */
.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(260px, 500px) minmax(1em, 1fr) ;
}



@media (min-width: 600px){
    .main-grid {
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(150px, 320px)) minmax(1em, 1fr);
        grid-gap: 0 2em;
        grid-auto-flow: dense;
    }
}


.main-menu {
    grid-area: header;
    display: grid;
    grid-column: 2/-2;
    grid-template-areas:
        "logo navigation navigation"
    ;
}

.logo {
    grid-area: logo;
    margin-bottom: 6px;
    // display: inline-block;
}


.navigation {
    display: flex;
    grid-area: navigation;
    flex-direction: column-reverse;
}

.primary-nav {
    grid-area: primaryNav;
    display: flex;
    // flex-basis: fit-content;

}

.secondary-nav {
    grid-area: secondaryNav;
    display: flex;
    flex-direction: row-reverse;
}



.content-area {

    grid-row: 1;
    grid-column: 2/ span 2;
    margin: 1em 0;
    display: grid;
    // grid-template-areas: 
    //     " ";
}

.content-block {
    margin: 1em 0;
}

.sidebar {
    grid-row: 1;
    grid-column: -3;
    border-left: 1px solid $text-main;
}



/* ============
      FOOTER 
   ============ */
   .footer {
    background-color: $footer-bg;
    padding: 4em 0;
    text-align: center;
    grid-template-areas: 
        ". social ."
        ". main .";
}

.footer-main,
.social-list {
    grid-column: 2/-2 ;
}

.footer-logo,
.footer-text,
.footer-fineprint {
    opacity: .35;
}


.footer-fineprint {
    font-size: .75rem;
    margin-top: 4em;
}

.footer-main {
    grid-area: main; /* position of this matters */
}

.social-list {
    /* order: -1; */
    grid-area: social;
    list-style: none;
    margin: 0 0 2em;
    padding: 0;
    display: flex;
    justify-content: center;
    /* border: 1px dotted pink; */
}
.social-link {
    color: var(--black);
    font-size: 1.75rem;
    margin: 0 .5em;
}

.social-link:hover {
    opacity: .65;
}

@media (min-width: 600px){
    .footer {
        text-align: left;
        grid-template-areas: 
            ". main main social .";
    }

    .social-list {
        justify-content: end;
    }
}







