html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#wrapper {
    background: rgb(248, 226, 230);
    display: grid;
    grid-template-columns: 1em auto 1em;
    /* grid-gap: 1rem; */
    grid-template-areas: 
            ". header ."
            ". content ."
            ". aside ."
            "... footer ... ";
}


header {
    grid-area: header;
    background: rgb(141, 228, 141);
    display: grid;
    grid-template-areas: 
            "secondary-nav"
            "logo"
            "primary-nav";
}



.logo {
    grid-area: logo;
    margin-left: 1rem;
    /* border: 1px solid yellow; */
    justify-content: center;
    align-items: center;
}


nav.primary-nav {
    grid-area: primary-nav;
    justify-self: start;
}

nav.secondary-nav {
    grid-area: secondary-nav;
    justify-self: end;
}


.nav > ul {
    display: flex;
    list-style: none;
    margin-left: 0;
    padding: 0;
}

.nav > ul > li {
    padding: 0.25rem 1rem;
    white-space: nowrap;
    background: paleturquoise;
}

main {
    display: grid;
    grid-area: content;
    padding: 1rem;
    grid-gap: 1rem 0;
    /* grid-template-rows: 100px auto 100px; */
}

aside {
    grid-area: aside;
    background-color: aqua;
}

.content-section {
    margin: 10px auto;
}

.card {
    display: grid;
    /* max-width: 800px; */
    background: #52545e;
    color: #fff;
    grid-template: 200px 1em auto auto 100px 1em / 1em auto auto 1em;
}

.card-img {
    object-fit: cover;
    grid-row: 1/2;
    grid-column: 1/-1;
    width: 100%;
    height: 100%;
}

.card-title,
.card-read-time,
.card-btn {
    font-family: sans-serif;
}

.card-title {
    color: #05e97f;
    font-size: 1.75rem;
    margin: 0;
    grid-column: 2/-2;
    grid-row: 3;
}

.card-body {
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
    grid-column: 2/-2;
    grid-row: 4; //auto takes up one one
}

.card-btn {
    font-size: 1.25rem;
    background: #05e97f;
    color: #52545e;
    text-decoration: none;
    font-weight: 700;
    padding: .35em 1em;
    letter-spacing: 1px;
    align-self: end;
    justify-self: end;
    grid-row: 5;
    grid-column: 3;
}

.card-show-time {
    margin: 0;
    opacity: .6;
    line-height: 1;
    align-self: end;
    grid-row: 5;
    grid-column: 2;
}

.card-read-time span {
    font-weight: 700;
    display: block;
    font-size: 1.25em;
}

.alert {
    display: block;
}

.is-invalid {
    border: 1px solid red;
    font-size: 1.1rem;
    padding: 0.2em;
}

.invalid-feedback {
    margin: 0;
    padding: 0;
    grid-column: 4;
    color: firebrick;
    font-size: 1rem;
    line-height: 1em;
    position: relative;
    top: -0.5em;
}

form {
    display: grid;
    grid-template-columns: 1em 16ch 1em 1fr 1em;
    grid-gap: 1em 0;
    border: 1px solid grey;
    font-size: 1.25rem;
    padding: 2em 0 1.5em;
    align-items: center;
}

fieldset {
    display: contents;
}

legend {
    position: relative;
    top: -2.8em;
    left: 2ch;
    padding: 0.2rem 1ch 0.3rem;
    background: rgb(248, 226, 230);
    display: block;
    white-space: nowrap;
    width: fit-content;
}


label {
    grid-column: 2;
    /* border: 1px dotted pink; */
    width: 16ch;
    text-align: left;
}

.loginform > label {
    text-align: right;
}

input {
    grid-column: 4;
    height: 1.5em;
}

input[type=checkbox].form-check  {
    grid-column: 2;
    justify-self: end;
    transform: scale(1.25);
    border: 1px solid transparent;
    box-shadow: none;
}

label.form-check  {
    grid-column: 4;
    font-size: 0.9em;
    text-align: left;
}

span.forgot-password {
    grid-column: 4;
}

.btn-form-submit {
    grid-column: 4;
    font-size: 1.25rem;
    background: #05e97f;
    border: 1px solid transparent;
    padding: 0.35rem 0.65rem;
    width: 18ch;
    height: 100%;
}


@media(min-width: 600px) {
    .card {
        grid-template: 1em auto auto 100px 1em / 200px 1em auto auto 1em;
        /* grid-gap: 0 1em; */
    }
    .card-img {
        grid-row: 1/-1;
        grid-column: 1;
    }
    .card-title {
        grid-row: 2;
        grid-column: 3/-2;
    }
    .card-body {
        grid-row: 3;
        grid-column: 3/-2;
    }
    .card-show-time {
        grid-row: 4;
        grid-column: 3;
    }
    .card-btn {
        grid-row: 4;
        grid-column: -3;
    }

}

footer {
    grid-area: footer;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}

@media (min-width: 768px) {
    #wrapper {
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-areas: 
            "header header header"
            "content content aside"
            "footer footer footer";
    }
    header {
        grid-template-areas:
            "logo primary-nav secondary-nav";
        align-items: baseline;
    }
    nav.primary-nav {
        justify-self: end;
    }
    main {
        padding: 2rem;
    }
}

@media (max-width: 550px) {
    #wrapper {
    grid-template-columns: auto;
    }
    nav.primary-nav ul {
        flex-direction: column;
    }
}