#datab {
    display: contents;
    border: 1px solid grey;
    border-radius: 6px;
    font-size: 1.25rem;
    padding-bottom:  1.5em;
}


fieldset {
    grid-column: 2 / span 1;
}

fieldset > legend {
    width: auto;
    padding: .25em;
    font-size: 0.9rem;
    text-transform: uppercase;
}

fieldset > *,
.subform > * {
   display: block;
   width: 100%;
}

fieldset input :not([type="radio"]):not([type="checkbox"]),
fieldset textarea {
    height: 1.75em;
    width: 100%;
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
    padding: .25em .5em;
}

.fieldset > label,
.subform > label {
    box-shadow: none;
}

input[type="hidden"]{
}

input[type="submit"]{
    grid-column: 2;
}

fieldset textarea {
    height: 16em; // less on desktop - wider
    resize: none;
    // font-size: 0.9rem;
}

label, input :not([type="radio"]):not([type="checkbox"]), textarea, select {
    margin: .25em 0 .5em;
}


.numbers-radio-wrapper {
    align-items: baseline;
}

.numbers-radio-wrapper label {
    font-size: 1.25rem;
    line-height: 2em;
    padding: .25em 0;
}

.numbers-radio-wrapper input[type="radio"] {
    margin-right: 1em;
}

input[type=checkbox],
input[type=radio] {
    width: auto;
}

