#datab {
    // border: 2px solid red;
    grid-column: 1/-1;
    font-size: 1.25rem;
    padding-bottom:  1.5em;
    min-height: 100wh;
    position: relative; // positioning context;
}



#band-details {
    order: -1;
}

fieldset {
    grid-column: 2 / span 1;
    margin: .75em;
}

fieldset > fieldset {
    margin: 0;
    grid-column: auto;
}


fieldset > legend {
    width: auto;
    padding: .25em;
    font-size: 0.9rem;
    text-transform: uppercase;
}

#band-image {
    margin-top: 0;
}

.hint {
    font-size: .85rem;
    // color: $text-secondary;
}

#media_assets-featured_image {
    width: 90%;
}

// fieldset > *,
// .subform > * {
//    display: block;
//    width: 100%;
// }



fieldset input:not([type="radio"]):not([type="checkbox"]):not(#media_assets-featured_image),
fieldset textarea {
    height: 1.75em;
    width: 100%;
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
    padding: .25em .5em;
}

.fieldset > label,
.subform > label {
    box-shadow: none;
}

input[type="hidden"]{
}

input[type="submit"]{
    grid-column: 2;
}

fieldset textarea {
    height: 16em; // less on desktop - wider
    resize: none;
    // font-size: 0.9rem;
}

label, input :not([type="radio"]):not([type="checkbox"]), textarea, select {
    margin: .25em 0 .5em;
}


.numbers-radio-wrapper {
    align-items: baseline;
}

.numbers-radio-wrapper label {
    font-size: 1.25rem;
    line-height: 2em;
    padding: .25em 0;
}

.numbers-radio-wrapper input[type="radio"] {
    margin-right: 1em;
}

input[type=checkbox],
input[type=radio] {
    width: auto;
}

#genres ul,
.phone-wrapper ul#mobile,
.phone-wrapper ul#region,
 {
    list-style: none;
    display: flex;
    padding-left: 0;
  
}

.phone-wrapper ul#mobile li {
    margin-right: 1em;
}

#search {
    margin: 2em 0 0;
    padding: 2em 0;
    border-bottom: 1px solid $accent;
}

#search input {
    height: 2.25em;
    width: 100%;
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
    padding: .25em .5em;

}

#genres ul{
    display: grid;
    font-size: .85rem;
    width: 100%;
    letter-spacing: .075em;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, minmax(1em, 1fr));
    grid-auto-flow: column dense;
    align-items: center;
    grid-gap: .5em .35em;
}

li#andor-any,
// li#andor-all,
li#genres-all {
grid-auto-flow: row;
margin-bottom: .75em;
}

li#andor-any {
    grid-column: 1 / span 2;
    
}
// li#andor-all {
//     grid-column: 3;
// }
li#genres-all {
    grid-column: -1;
}


#genres li:not(#andor-all):not(#andor-any):not(#genres-all) label {
    display: block;
    margin-top: -1.2em;
    margin-left: 1.5em;
}

// label#g-all {
//     display: block; 
//     margin: 0em !important; 
//     padding: 0em !important;
// }

#counties {
    margin: 2em 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(1em, 1fr));
    letter-spacing: .075em;
}

.province {
    grid-column: span 1;
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(130px, 250px) minmax(1em, 1fr) ;
    grid-template-rows: 2em repeat(auto-fill, 1fr);
}

.province ul {
    grid-column: 2;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.province li:first-of-type {
    font-size: 1.125rem;
    text-align: center;
    line-height: 2em;
    
}

.province .province-title {
    margin-right: 0.5em;
    color: $logo-green;
}

.province li {
    font-size: .85rem;
    list-style: none;
    display: block;
    grid-row: 2;
    grid-column: 2;
    width: minmax(100px, 200px);
    align-items: end;
    
}

.province li label,
.province li input {
    width: auto;
}

.province li input {
    margin-right: 0.5em;
}



#connacht {
    order: -3;

}

#ulster {
    order: -2;
}

#munster {
    display: grid;
    order: -1;
}

#connact  {
  
}


.is-invalid {
    border: 1px solid red !important;
    font-size: 1.1rem;
    padding: 0.2em;
}

.invalid-feedback {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 2;
    color: firebrick;
    font-size: 1rem;
    line-height: 1em;
}

input#contact_details-contact_emails-email_title {
    width: 50%;
}

ul#contact_details-contact_numbers-mobile,
ul#contact_details-contact_numbers-region, {
    list-style: none;
    display: flex;
    padding-left: 0;
}

ul#contact_details-contact_numbers-mobile li:first-child,
ul#contact_details-contact_numbers-region li:first-child {
    margin-left: 0;
    margin-right: 2em;
}

ul#contact_details-contact_numbers-region li {
    margin-right: 2em;
}


.iti__flag {
    background-image: url("../img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/img/flags@2x.png");}
}

input#_phone  {
    margin: 2.5em;
    width: 15ch;
}

.iti .iti--allow-dropdown{
    background: grey;
}


ul.unique-band-yes-no {
    display: block;
    line-height: initial;
    margin-top: 0;
    border-radius: 3px;
    font-size: 0.8rem;
    margin-left: 0;
}

form ul.yes > li {
    padding: .25em .5em;
    color: $alert-success-txt;
    background: $alert-success-bg;
}

ul.unique-band-yes-no.no li {
    padding: .25em .5em;
    color: $alert-danger-txt;
    background: $alert-danger-bg;
}

